Repository swiftlang/swift-package-manager, pull requests merged in 2023-12, with the labels that each got.

#7146 [5.10] cache binary artifact globally
  Sources/Commands/PackageTools/ComputeChecksum.swift
  Sources/Commands/ToolWorkspaceDelegate.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SourceControl/RepositoryManager.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
  Sources/Workspace/Workspace+Configuration.swift
  Sources/Workspace/Workspace+Delegation.swift
  Sources/Workspace/Workspace.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: swift 5.10

#7147 [5.10] validate local repository has the correct remote
  Sources/SPMTestSupport/InMemoryGitRepository.swift
  Sources/SourceControl/GitRepository.swift
  Sources/SourceControl/Repository.swift
  Sources/SourceControl/RepositoryManager.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
  Tests/WorkspaceTests/SourceControlPackageContainerTests.swift
Labels: swift 5.10

#7154 [NFC] Remove unused `fileSystem` from `GraphLoadingNode`
  Sources/PackageGraph/GraphLoadingNode.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/Workspace/Workspace+Manifests.swift
Labels: no functional change

#7155 adjust git call supported by older git clients
  Sources/SourceControl/GitRepository.swift
  Sources/SourceControl/RepositoryManager.swift
Labels: bug, linux

#7157 [5.10] adjust git call supported by older git clients
  Sources/SourceControl/GitRepository.swift
  Sources/SourceControl/RepositoryManager.swift
Labels: swift 5.10

#7156 Async package collections tests
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/PackageCollections/API.swift
  Sources/PackageCollections/PackageCollections.swift
  Sources/PackageCollections/PackageIndexAndCollections.swift
  Sources/PackageCollections/Providers/PackageCollectionProvider.swift
  Sources/PackageCollections/Storage/PackageCollectionsSourcesStorage.swift
  Sources/PackageCollections/Storage/PackageCollectionsStorage.swift
  Sources/PackageCollections/Storage/SQLitePackageCollectionsStorage.swift
  Sources/SPMTestSupport/misc.swift
  Tests/PackageCollectionsTests/GitHubPackageMetadataProviderTests.swift
  Tests/PackageCollectionsTests/JSONPackageCollectionProviderTests.swift
  Tests/PackageCollectionsTests/PackageCollectionsSourcesStorageTest.swift
  Tests/PackageCollectionsTests/PackageCollectionsStorageTests.swift
  Tests/PackageCollectionsTests/PackageCollectionsTests.swift
  Tests/PackageCollectionsTests/PackageIndexAndCollectionsTests.swift
  Tests/PackageCollectionsTests/PackageIndexTests.swift
Labels: concurrency, test suite

#7159 Fix ignored symbol graph extraction exit code
  Sources/Commands/Utilities/PluginDelegate.swift
Labels: bug

#7152 build: allow building in Debug mode on Windows
  CMakeLists.txt
Labels: windows

#7117 [NFC] Replace `PackageConditionProtocol` with `PackageCondition`
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/BuildSettings.swift
  Sources/PackageModel/Manifest/PackageConditionDescription.swift
  Sources/PackageModel/Target/Target.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/XCBuildSupport/PIF.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
Labels: no functional change, package graph

#7164 Keep separate build parameters for host and target
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Product.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Resources.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Build/BuildPlan/BuildPlan+Clang.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/TestObservation.swift
  Sources/Commands/PackageTools/APIDiff.swift
  Sources/Commands/PackageTools/DumpCommands.swift
  Sources/Commands/PackageTools/InstalledPackages.swift
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/Snippets/Cards/SnippetCard.swift
  Sources/Commands/SwiftBuildTool.swift
  Sources/Commands/SwiftRunTool.swift
  Sources/Commands/SwiftTestTool.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/Commands/Utilities/XCTEvents.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/PackageGraph/BuildTriple.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Debugging.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/MockBuildTestHelper.swift
  Tests/CommandsTests/SwiftToolTests.swift
  Tests/FunctionalTests/MiscellaneousTests.swift
Labels: bug, cross-compilation, build system

#7015 Avoid use of `temp_await` in `PackageRegistryToolTests.swift`
  Sources/Basics/Archiver/Archiver.swift
  Tests/CommandsTests/PackageRegistryToolTests.swift
Labels: concurrency, test suite

#6763 Public API for getting information about build targets
  Package.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
  xcode/SwiftPM-Package.xctestplan
Labels: enhancement, build system

#7166 [5.10] Add test fixture for `--experimental-lto-mode` option
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/.gitignore
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/Package.swift
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/Sources/cLib/cLib.c
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/Sources/cLib/include/cLib.h
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/Sources/exe/main.swift
  Fixtures/Miscellaneous/LTO/SwiftAndCTargets/Sources/swiftLib/swiftLib.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Tests/FunctionalTests/MiscellaneousTests.swift
Labels: bug, swift 5.10, build system

#7178 [5.10] make it possible to specify permitted network port access at runtime
  Sources/Commands/PackageTools/PluginCommand.swift
  Tests/CommandsTests/PackageToolTests.swift
Labels: enhancement, swift 5.10

#7177 🍒[cxx-interop] Make test discovery compatible with C++ interop
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: bug, C++ interop, swift 5.10, build system, swift test

#7176 Re-revert "Avoid use of temp_await in `PackageRegistryToolTests.swift`"
  Sources/Basics/Archiver/Archiver.swift
  Tests/CommandsTests/PackageRegistryToolTests.swift
Labels: concurrency

#7182 Adopt `async`/`await` in more tests
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMBuildCore/Plugins/PluginScriptRunner.swift
  Sources/SPMTestSupport/misc.swift
  Sources/SourceControl/RepositoryManager.swift
  Tests/CommandsTests/PackageRegistryToolTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageFingerprintTests/FilePackageFingerprintStorageTests.swift
  Tests/PackageLoadingTests/PD_4_2_LoadingTests.swift
  Tests/PackageRegistryTests/RegistryDownloadsManagerTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
Labels: concurrency, test suite

#7188 [cxx-interop] Do not pass the C++ standard if C++ interop is not enabled
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
Labels: bug, C++ interop

#7183 Move SwiftPackageCollectionsTool to async/await
  Sources/PackageCollectionsTool/SwiftPackageCollectionsTool.swift
  Sources/swift-package-collection/CMakeLists.txt
  Sources/swift-package-collection/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
Labels: concurrency, test suite

#7016 Avoid using `temp_await` in `SwiftTestTool.swift`
  Sources/Commands/SwiftTestTool.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-test/CMakeLists.txt
  Sources/swift-test/Entrypoint.swift
Labels: concurrency, swift test

#7009 Avoid using `temp_await` on `loadRootPackage`
  .swiftpm/xcode/xcshareddata/xcschemes/SwiftPM-Package.xcscheme
  Sources/Commands/PackageTools/Describe.swift
  Sources/Commands/PackageTools/DumpCommands.swift
  Sources/Commands/PackageTools/Format.swift
  Sources/Commands/PackageTools/SwiftPackageTool.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-package/CMakeLists.txt
  Sources/swift-package/Entrypoint.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, concurrency

#7190 Move PackageRegistryTool to async/await
  Sources/PackageRegistryTool/PackageRegistryTool+Auth.swift
  Sources/PackageRegistryTool/PackageRegistryTool+Publish.swift
  Sources/PackageRegistryTool/PackageRegistryTool.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-package-registry/runner.swift
Labels: concurrency

#7194 🍒[cxx-interop] Do not pass the C++ standard if C++ interop is not enabled
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
Labels: bug, C++ interop, swift 5.10

#7196 Revert "Avoid using `temp_await` in `SwiftTestTool.swift`"
  Sources/Commands/SwiftTestTool.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-test/CMakeLists.txt
  Sources/swift-test/main.swift
Labels: bug, concurrency

#7189 [5.10] Set `file-system` as `device-agnostic` in build manifest
  Sources/LLBuildManifest/LLBuildManifestWriter.swift
  Tests/LLBuildManifestTests/LLBuildManifestTests.swift
Labels: bug, swift 5.10, build system

#7161 [NFC] Remove `SupportedPlatforms`, add `PlatformVersionProvider`
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/Resolution/PlatformVersionProvider.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/PackageModel/Platform.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/PackageGraphTests/TargetTests.swift
Labels: no functional change, package graph

#7198 Delete `Sources/swift-package-collection/CMakeLists.txt`
  Sources/swift-package-collection/CMakeLists.txt
Labels: cmake

#7160 Make `Resolved*` in `PackageGraph` value types
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/PluginDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/SharedTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Clang.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageTools/APIDiff.swift
  Sources/Commands/PackageTools/CompletionTool.swift
  Sources/Commands/PackageTools/InstalledPackages.swift
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/PackageGraph/ModuleAliasTracker.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/PackageGraph.swift
  Sources/PackageGraph/PackageGraphRoot.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/BuildConfiguration.swift
  Sources/PackageModel/Manifest/PackageConditionDescription.swift
  Sources/PackageModel/Manifest/PlatformDescription.swift
  Sources/PackageModel/Manifest/ProductDescription.swift
  Sources/PackageModel/Manifest/SystemPackageProviderDescription.swift
  Sources/PackageModel/Manifest/TargetBuildSettingDescription.swift
  Sources/PackageModel/Manifest/TargetDescription.swift
  Sources/PackageModel/PackageModel.swift
  Sources/PackageModel/PackageReference.swift
  Sources/PackageModel/Platform.swift
  Sources/PackageModel/PlatformRegistry.swift
  Sources/PackageModel/RegistryReleaseMetadata.swift
  Sources/PackageModel/SwiftLanguageVersion.swift
  Sources/PackageModel/Target/Target.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
  Sources/Workspace/Workspace.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/TargetTests.swift
  Tests/PackageGraphTests/TopologicalSortTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: performance, package graph

#7205 Adjust `testURLBasedPluginAPI` logging checks
  Tests/FunctionalTests/PluginTests.swift
Labels: plugins, test suite
