Repository swiftlang/swift-package-manager, pull requests merged in 2023-11, with the labels that each got.

#7021 Swift SDKs: fix `toolset.linker.path` not passed to `-ld-path`
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/PackageModel/UserToolchain.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: bug, cross-compilation

#7059 Warn against absolute paths in `Documentation/Usage.md`
  Documentation/Usage.md
Labels: documentation

#7049 [5.9] pass -fno-omit-frame-pointer in support of new backtracer (#7042)
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/SPMBuildCore/BuildParameters.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/MockBuildTestHelper.swift
Labels: swift 5.9

#7067 [NFC] XCBuildSupport: fix comment typo in `PIFBuilder.swift`
  Sources/XCBuildSupport/PIFBuilder.swift
Labels: no functional change

#7070 Fix broken links in documentation for PackageRegistry
  Documentation/PackageRegistry/PackageRegistryUsage.md
  Documentation/PackageRegistry/Registry.md
  Sources/PackageCollectionsModel/Formats/v1.md
  Sources/PackageCollectionsModel/PackageCollectionModel+v1.swift
  Sources/PackageRegistry/RegistryClient.swift
Labels: bug, documentation

#7052 Set `file-system` as `device-agnostic` in build manifest
  Sources/LLBuildManifest/LLBuildManifestWriter.swift
  Tests/LLBuildManifestTests/LLBuildManifestTests.swift
Labels: enhancement, build system

#7092 SourceControl: add basic support for symlinks
  Sources/SourceControl/GitRepository.swift
Labels: bug

#7087 Disallow static linking core libraries in `swift test`
  Sources/Commands/SwiftBuildTool.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftTool.swift
Labels: bug, static linking

#7102 Replace some uses of `temp_await` with `await` in tests
  Sources/Basics/Archiver/Archiver.swift
  Sources/Basics/AuthorizationProvider.swift
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/SPMTestSupport/XCTAssertHelpers.swift
  Tests/BasicsTests/Archiver/TarArchiverTests.swift
  Tests/BasicsTests/Archiver/UniversalArchiverTests.swift
  Tests/BasicsTests/Archiver/ZipArchiverTests.swift
  Tests/BasicsTests/AuthorizationProviderTests.swift
Labels: next, concurrency

#7124 Remove usage of temp_await from WorkspaceTests
  Sources/PackageGraph/PackageContainer.swift
  Sources/PackageLoading/ManifestLoader.swift
  Sources/Workspace/Workspace.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
  Tests/WorkspaceTests/RegistryPackageContainerTests.swift
  Tests/WorkspaceTests/SourceControlPackageContainerTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, concurrency

#7130 Revert "Only show command output in verbose mode (#7078)"
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
Labels: bug

#7126 improve handling of test output
  Sources/Commands/SwiftTestTool.swift
Labels: bug

#7131 [5.10] Revert "Only show command output in verbose mode (#7078)"
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
Labels: bug, swift 5.10

#7136 Skip unknown XCBuild message types
  Sources/XCBuildSupport/XCBuildDelegate.swift
  Sources/XCBuildSupport/XCBuildMessage.swift
Labels: build system
