Repository swiftlang/swift-package-manager, pull requests merged in 2024-10, with the labels that each got.

#8007 Fix path handling for plugins on Windows
  Sources/Basics/CMakeLists.txt
  Sources/Basics/URL.swift
  Sources/PackagePlugin/Context.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/Path.swift
  Sources/PackagePlugin/Plugin.swift
  Sources/PackagePlugin/PluginContextDeserializer.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: needs tests

#8015 Mark `LegacyHTTPClientRequest` as Sendable
  Sources/Basics/HTTPClient/LegacyHTTPClientRequest.swift
Labels: bug, concurrency

#8027 Fix the typo in the word `Continuous`
  Documentation/ContinuousIntegration.md
  Documentation/Usage.md
Labels: bug, documentation

#8026 Tests: Fix always succeeding `XCTAssertAsyncNoThrow`
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Tests/CheckTestLibraryEnvironmentVariableTests/CheckTestLibraryEnvironmentVariableTests.swift
  Sources/_InternalTestSupport/XCTAssertHelpers.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, test suite

#8005 Add a new show-executables package subcommand for all executables
  Fixtures/Miscellaneous/ShowExecutables/app/Package.swift
  Fixtures/Miscellaneous/ShowExecutables/app/main.swift
  Fixtures/Miscellaneous/ShowExecutables/deck-of-playing-cards/Package.swift
  Fixtures/Miscellaneous/ShowExecutables/deck-of-playing-cards/main.swift
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/ShowExecutables.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: needs tests

#8032 Use `OrderedDictionary` for `PIF.BuildSettings` internal properties
  Sources/XCBuildSupport/PIF.swift
  Tests/XCBuildSupportTests/PIFTests.swift
Labels: bug, build system

#8028 Fix typos in some files in `Fixtures` directory
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Tests/CheckTestLibraryEnvironmentVariableTests/CheckTestLibraryEnvironmentVariableTests.swift
  Fixtures/Miscellaneous/MissingDependency/Bar/Package.swift
Labels: bug, test suite

#8034 Fix target toolsets polluted with host toolset extra CLI options
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: bug, cross-compilation, WebAssembly

#8025 Plugin: Stop building with `-enable-testing` even with release config
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Package.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Plugins/check-testability/main.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Sources/InternalModule/InternalModule.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Tests/InternalModuleTests/InternalModuleTests.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/LLBuildCommands.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/SPMBuildCoreTests/BuildParametersTests.swift
Labels: bug, plugins, build system

#8042 When generating manifest the type should be before the targets
  Sources/PackageModel/ManifestSourceGeneration.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
Labels: bug, build system

#8045 Use `CaseIterable` to auto-generate CLI `--help` entries
  Sources/Commands/PackageCommands/AddProduct.swift
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/Commands/PackageCommands/Describe.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/CoreCommands/Options.swift
  Sources/swift-bootstrap/main.swift
Labels: documentation

#8051 SE-0387: add `--toolset` option to build-related subcommands
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/PackageModel/Toolset.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/SwiftCommandStateTests.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
  Tests/PackageModelTests/ToolsetTests.swift
Labels: enhancement, cross-compilation, test suite, swift test, swift build, command-line interface

#8053 `completion-tool list-executables` should list executable names
  Fixtures/Miscellaneous/DifferentProductTargetName/Package.swift
  Fixtures/Miscellaneous/DifferentProductTargetName/main.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, command-line interface

#6828 Implicitly support Darwin SDKs on macOS
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
  Tests/PackageModelTests/SwiftSDKTests.swift
Labels: cross-compilation

#8075 Don’t write output file map when getting compiler arguments for SourceKit-LSP
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
Labels: needs tests
