Repository swiftlang/swift-package-manager, pull requests merged in 2024-02, with the labels that each got.

#7308 [5.10] Gate new tests on `supportsSDKDependentTests()`
  Tests/BuildTests/BuildSystemDelegateTests.swift
Labels: swift 5.10

#7312 Fix non-tarballed SDK installation with remote URL
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.zip
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: bug, cross-compilation

#7318 Fix typos in comments and symbols naming
  Documentation/Design/PackageManagerCommunityProposal.md
  Documentation/Design/SwiftBasedManifestFormat.md
  Documentation/ModuleAliasing.md
  Documentation/PackageRegistry/PackageRegistryUsage.md
  Documentation/PackageSecurity.md
  Documentation/ReleaseNotes/5.4.md
  Documentation/ReleaseNotes/5.6.md
  Documentation/ReleaseNotes/5.8.md
  Documentation/Usage.md
  Fixtures/Miscellaneous/CXX17CompilerCrash/v5_7/include/user_objects.h
  Fixtures/Miscellaneous/CXX17CompilerCrash/v5_7/lodepng/include/lodepng.h
  Fixtures/Miscellaneous/CXX17CompilerCrash/v5_8/include/user_objects.h
  Fixtures/Miscellaneous/CXX17CompilerCrash/v5_8/lodepng/include/lodepng.h
  Fixtures/Miscellaneous/Unicode/Utilities/SomeOtherPackage/README.md
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/Basics/SQLite.swift
  Sources/Basics/Vendor/Triple+Platforms.swift
  Sources/Basics/Vendor/Triple.swift
  Sources/Build/TestObservation.swift
  Sources/Commands/PackageTools/EditCommands.swift
  Sources/Commands/SwiftTestTool.swift
  Sources/PackageCollections/Storage/SQLitePackageCollectionsStorage.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageLoading/ManifestLoader+Validation.swift
  Sources/PackageLoading/ToolsVersionParser.swift
  Sources/PackageModel/ManifestSourceGeneration.swift
  Sources/PackageModel/PackageIdentity.swift
  Sources/PackagePlugin/Command.swift
  Sources/PackagePlugin/Plugin.swift
  Sources/PackagePlugin/Utilities.swift
  Sources/PackageRegistry/RegistryDownloadsManager.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/InMemoryGitRepository.swift
  Sources/SourceControl/Repository.swift
  Sources/SourceControl/RepositoryManager.swift
  Sources/Workspace/Diagnostics.swift
  Sources/Workspace/Workspace+Editing.swift
  Sources/Workspace/Workspace+Registry.swift
  Sources/Workspace/Workspace+SourceControl.swift
  Sources/Workspace/Workspace.swift
  Tests/CommandsTests/BuildToolTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceControlTests/GitRepositoryTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
  Utilities/bootstrap
  Utilities/soundness.sh
Labels: bug

#7315 Show progress bar while downloading Swift SDK bundles
  Sources/Basics/CMakeLists.txt
  Sources/Basics/ProgressAnimation.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/SwiftSDKTool/InstallSwiftSDK.swift
  Tests/BasicsTests/ProgressAnimationTests.swift
Labels: enhancement, cross-compilation

#7314 Move `swiftpm-project-settings.el` settings to `.dir-locals.el`
  .dir-locals.el
  Utilities/Emacs/swiftpm-project-settings.el
Labels: enhancement, contributor experience

#7300 Build: avoid unnecessary warnings for build tool inputs
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Package.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Plugins/MySourceGenBuildToolPlugin/plugin.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MyLocalTool/foo.dat
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MyLocalTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MyOtherLocalTool/bar.dat
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MyOtherLocalTool/baz.dat
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MyOtherLocalTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MySourceGenBuildToolLib/library.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Sources/MySourceGenRuntimeLib/library.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Tests/MySourceGenPluginNoPreBuildCommandsTests/MySourceGenPluginNoPreBuildCommandsTests.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginNoPreBuildCommands/Tests/MySourceGenPluginNoPreBuildCommandsTests/lunch.txt
  Sources/Build/BuildOperation.swift
  Tests/FunctionalTests/PluginTests.swift
Labels: bug, plugins, build system

#7335 Don't lock if we don't have a package root
  Sources/CoreCommands/SwiftTool.swift
Labels: bug

#7328 Move and refactor `ProgressAnimation` code from TSC
  Sources/Basics/CMakeLists.txt
  Sources/Basics/ProgressAnimation/NinjaProgressAnimation.swift
  Sources/Basics/ProgressAnimation/PercentProgressAnimation.swift
  Sources/Basics/ProgressAnimation/ProgressAnimationProtocol.swift
  Sources/Basics/ProgressAnimation/SingleLinePercentProgressAnimation.swift
  Sources/Basics/ProgressAnimation/ThrottledProgressAnimation.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Commands/SwiftTestTool.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/CoreCommands/SwiftToolObservabilityHandler.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/SwiftSDKTool/InstallSwiftSDK.swift
  Sources/XCBuildSupport/XCBuildDelegate.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/BasicsTests/ProgressAnimationTests.swift
Labels: no functional change

#7340 [5.10] Bump swift-syntax version in the macro template
  Utilities/config.json
Labels: swift 5.10

#7342 Remove myself from CODEOWNERS
  CODEOWNERS
Labels: documentation

#7204 Add option to allow HTTP (not HTTPS) registries
  Sources/PackageRegistry/RegistryConfiguration.swift
  Sources/PackageRegistryTool/PackageRegistryTool+Publish.swift
  Sources/PackageRegistryTool/PackageRegistryTool.swift
  Tests/CommandsTests/PackageRegistryToolTests.swift
  Tests/PackageRegistryTests/RegistryConfigurationTests.swift
Labels: enhancement, registry

#7341 Fix test runner build on WASI
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Build/TestObservation.swift
Labels: bug, needs tests, swift test

#7337 Support for prebuilt packages in the SDK
  Package.swift
  Sources/Build/BuildOperation.swift
  Sources/CMakeLists.txt
  Sources/Commands/PackageTools/EditCommands.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/PrebuiltPackageContainer.swift
  Sources/PackageGraph/Resolution/PubGrub/ContainerProvider.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageModel/CMakeLists.txt
  Sources/PackageModel/InstalledLibrariesSupport/LibraryMetadata.swift
  Sources/PackageModel/InstalledLibrariesSupport/provided-libraries.json
  Sources/PackageModel/Toolchain.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SPMTestSupport/Resolver.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/ResolverPrecomputationProvider.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/Workspace/Workspace+Editing.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace.swift
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: enhancement, package graph, swift build

#7118 Support macros when cross-compiling
  CHANGELOG.md
  Sources/Basics/Collections/IdentifiableSet.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/ResolvedTarget+BuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/CMakeLists.txt
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/SwiftTestTool.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/Commands/Utilities/XCTEvents.swift
  Sources/PackageGraph/BuildTriple.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/PackageGraph.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/PackageModel/Target/Target.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/CrossCompilationBuildTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/PluginsBuildPlanTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/CommandsTests/SwiftToolTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
  Tests/PackageGraphTests/PackageGraphTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: add to change log, bug, cross-compilation, package graph

#7348 Make `PackageModel` resources optional
  Package.swift
  Sources/PackageModel/UserToolchain.swift
Labels: bug, resources

#7352 Revert "Support macros when cross-compiling (#7118)"
  CHANGELOG.md
  Sources/Basics/Collections/IdentifiableSet.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/ResolvedTarget+BuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/CMakeLists.txt
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/SwiftTestTool.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/Commands/Utilities/XCTEvents.swift
  Sources/PackageGraph/BuildTriple.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/PackageGraph.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/PackageModel/Target/Target.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/CrossCompilationBuildTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/PluginsBuildPlanTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/CommandsTests/SwiftToolTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
  Tests/PackageGraphTests/PackageGraphTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: bug, cross-compilation, build system

#7304 Build: pass through `Embedded` flag to link jobs
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/Target/BinaryTarget.swift
  Sources/PackageModel/Target/ClangTarget.swift
  Sources/PackageModel/Target/PluginTarget.swift
  Sources/PackageModel/Target/SwiftTarget.swift
  Sources/PackageModel/Target/SystemLibraryTarget.swift
  Sources/PackageModel/Target/Target.swift
  Tests/BuildTests/ProductBuildDescriptionTests.swift
Labels: bug, build system

#7355 Fix `.wasm` product paths for `wasm32-unknown-none` triple
  Sources/Basics/Triple+Basics.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ProductBuildDescriptionTests.swift
  Tests/PackageGraphTests/PackageGraphTests.swift
Labels: swift test, swift build, embedded, WebAssembly

#7356 Enable `--gc-sections` for WebAssembly targets
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
Labels: enhancement, build system, needs tests, WebAssembly

#7324 Clarify that Xcode issues are not tracked in `BUG_REPORT.yml`
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Labels: documentation

#7358 Exclude `XCBuildSupport` when building with CMake
  Sources/CMakeLists.txt
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageTools/DumpCommands.swift
  Sources/Commands/PackageTools/SwiftPackageTool.swift
  Sources/Commands/SwiftBuildTool.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/CMakeLists.txt
  Sources/XCBuildSupport/CMakeLists.txt
  Sources/swift-bootstrap/CMakeLists.txt
  Sources/swift-bootstrap/main.swift
Labels: enhancement, build system, dependencies, cmake

#7359 Use structured concurrency in `PackageLoadingTests`
  Package.swift
  Sources/PackageLoading/ManifestLoader.swift
  Sources/SPMTestSupport/MockManifestLoader.swift
  Sources/SPMTestSupport/XCTAssertHelpers.swift
  Tests/PackageLoadingPerformanceTests/ManifestLoadingTests.swift
  Tests/PackageLoadingTests/ManifestLoaderCacheTests.swift
  Tests/PackageLoadingTests/PDLoadingTests.swift
  Tests/PackageLoadingTests/PD_4_0_LoadingTests.swift
  Tests/PackageLoadingTests/PD_4_2_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_0_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_11_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_2_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_3_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_4_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_5_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_6_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_7_LoadingTests.swift
  Tests/PackageLoadingTests/PD_5_9_LoadingTests.swift
  Tests/PackageLoadingTests/PD_Next_LoadingTests.swift
Labels: enhancement, concurrency, test suite, package manifests

#7361 Replace 5.11 version with 6.0 in the code base
  Fixtures/Miscellaneous/DoNotFilterLinkerDiagnostics/Package.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Package.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginUsingURLBasedAPI/Package.swift
  Sources/Basics/SwiftVersion.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Commands/PackageTools/Init.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageDescription/Context.swift
  Sources/PackageLoading/TargetSourcesBuilder.swift
  Sources/PackageLoading/ToolsVersionParser.swift
  Sources/PackageModel/ToolsVersion.swift
  Sources/PackagePlugin/Command.swift
  Sources/PackagePlugin/Context.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/PackageModel.swift
  Sources/PackagePlugin/Path.swift
  Sources/PackageRegistryTool/PackageRegistryTool+Publish.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/Diagnostics.swift
  Sources/Workspace/Workspace.swift
  Sources/swift-bootstrap/main.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/FunctionalTests/ResourcesTests.swift
  Tests/FunctionalTests/ToolsVersionTests.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
  Tests/PackageGraphPerformanceTests/Inputs/kitura.json
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageGraphTests/TopologicalSortTests.swift
  Tests/PackageLoadingTests/PD_6_0_LoadingTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
  Tests/PackageLoadingTests/ToolsVersionParserTests.swift
Labels: bug, test suite

#7363 Rename `PackageGraph` type to `ModulesGraph`
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageTools/APIDiff.swift
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/SwiftRunTool.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/Workspace+Signing.swift
  Sources/Workspace/Workspace.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/ProductBuildDescriptionTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: enhancement, contributor experience

#7258 Fix `package` access modifier in XCBuild support
  Package.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/CoreCommands/SwiftTool.swift
  Sources/DriverSupport/DriverSupportUtils.swift
  Sources/PackageModel/Target/SwiftTarget.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Driver.swift
  Sources/SPMBuildCore/CMakeLists.txt
  Sources/SPMBuildCore/ResolvedPackage+Extensions.swift
  Sources/SPMTestSupport/PIFTester.swift
  Sources/SPMTestSupport/SwiftPMProduct.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Sources/swift-bootstrap/CMakeLists.txt
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/APIDiffTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: bug, build system

#7369 Allow `swift-build` to have `async` entrypoint
  Package.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftRunCommand.swift
  Sources/SPMTestSupport/SwiftPMProduct.swift
  Sources/swift-build/CMakeLists.txt
  Sources/swift-build/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-run/CMakeLists.txt
  Sources/swift-run/Entrypoint.swift
  Tests/CommandsTests/RunCommandTests.swift
Labels: bug, concurrency, test suite

#7283 Benchmarks: add `PackageGraphBenchmarks` target
  Benchmarks/Benchmarks/PackageGraphBenchmarks/PackageGraphBenchmarks.swift
  Benchmarks/Package.swift
Labels: performance

#7344 Revert "Revert "Start using `package` for some APIs""
  Package.swift
  Sources/Basics/CMakeLists.txt
  Sources/Basics/OSSignpost.swift
  Sources/SPMTestSupport/GitRepositoryExtensions.swift
  Sources/SPMTestSupport/MockArchiver.swift
Labels: no functional change

#7365 Hide build system internals with `@_spi`
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Commands/CommandWorkspaceDelegate.swift
  Sources/Commands/PackageCommands/APIDiff.swift
  Sources/Commands/PackageCommands/ArchiveSource.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Sources/Commands/PackageCommands/ComputeChecksum.swift
  Sources/Commands/PackageCommands/Config.swift
  Sources/Commands/PackageCommands/Describe.swift
  Sources/Commands/PackageCommands/DumpCommands.swift
  Sources/Commands/PackageCommands/EditCommands.swift
  Sources/Commands/PackageCommands/Format.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/PackageCommands/InstalledPackages.swift
  Sources/Commands/PackageCommands/Learn.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/ResetCommands.swift
  Sources/Commands/PackageCommands/Resolve.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Sources/Commands/PackageCommands/ToolsVersionCommand.swift
  Sources/Commands/PackageCommands/Update.swift
  Sources/Commands/Snippets/CardStack.swift
  Sources/Commands/Snippets/Cards/SnippetCard.swift
  Sources/Commands/Snippets/Cards/SnippetGroupCard.swift
  Sources/Commands/Snippets/Cards/TopCard.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftRunCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageCollectionsCommand/PackageCollectionsCommand.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Auth.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Publish.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystemCommand.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystemDelegate.swift
  Sources/SPMBuildCore/Triple+Extensions.swift
  Sources/SPMTestSupport/misc.swift
  Sources/XCBuildSupport/XCBuildDelegate.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Sources/swift-bootstrap/main.swift
  Sources/swift-build/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-run/Entrypoint.swift
  Sources/swift-test/main.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/CommandsTests/BuildCommandTests.swift
  Tests/CommandsTests/MermaidPackageSerializerTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/CommandsTests/SwiftCommandStateTests.swift
Labels: build system, public API

#7372 Adopt `package` in the test support module
  Sources/SPMTestSupport/InMemoryGitRepository.swift
  Sources/SPMTestSupport/ManifestExtensions.swift
  Sources/SPMTestSupport/MockArchiver.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockDependency.swift
  Sources/SPMTestSupport/MockDependencyGraph.swift
  Sources/SPMTestSupport/MockHTTPClient.swift
  Sources/SPMTestSupport/MockHashAlgorithm.swift
  Sources/SPMTestSupport/MockManifestLoader.swift
  Sources/SPMTestSupport/MockPackage.swift
  Sources/SPMTestSupport/MockPackageContainer.swift
  Sources/SPMTestSupport/MockPackageFingerprintStorage.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/MockPackageSigningEntityStorage.swift
  Sources/SPMTestSupport/MockProduct.swift
  Sources/SPMTestSupport/MockRegistry.swift
  Sources/SPMTestSupport/MockTarget.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SPMTestSupport/Observability.swift
  Sources/SPMTestSupport/PIFTester.swift
  Sources/SPMTestSupport/PackageDependencyDescriptionExtensions.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/SPMTestSupport/ResolvedTarget+Mock.swift
  Sources/SPMTestSupport/Resolver.swift
  Sources/SPMTestSupport/SwiftPMProduct.swift
  Sources/SPMTestSupport/Toolchain.swift
  Sources/SPMTestSupport/XCTAssertHelpers.swift
  Sources/SPMTestSupport/misc.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
Labels: test suite, no functional change

#7366 Enable `AccessLevelOnImport` in `SourceKitLSPAPI`
  Package.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
Labels: public API

#7377 Add swift-testing support to `swift build --build-tests`
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/CoreCommands/Options.swift
Labels: bug, needs tests, swift test, swift build

#7384 Make ignore-lock a flag
  Sources/CoreCommands/Options.swift
Labels: enhancement, command-line interface
