Repository swiftlang/swift-package-manager, pull requests merged in 2024-07, with the labels that each got.

#7733 Handle the "abnormal-exit" status kind from the Swift compiler's parseable output
  Sources/Build/LLBuildProgressTracker.swift
  Sources/Build/SwiftCompilerOutputParser.swift
Labels: enhancement, diagnostics

#7743 [6.0] Fix host/target products with `--static-swift-stdlib`
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, plugins, cross-compilation, swift 6.0

#7484 [NFC] Remove `TSCBasic.InMemoryFileSystem` dependency
  Benchmarks/Benchmarks/PackageGraphBenchmarks/PackageGraphBenchmarks.swift
  Sources/Basics/SQLiteBackedCache.swift
  Sources/PackageCollections/Storage/SQLitePackageCollectionsStorage.swift
  Sources/Workspace/PackageContainer/RegistryPackageContainer.swift
  Sources/Workspace/Workspace+Editing.swift
  Sources/Workspace/Workspace.swift
  Sources/_InternalTestSupport/MockPackageGraphs.swift
  Tests/BasicsTests/Archiver/TarArchiverTests.swift
  Tests/BasicsTests/Archiver/UniversalArchiverTests.swift
  Tests/BasicsTests/Archiver/ZipArchiverTests.swift
  Tests/BasicsTests/FileSystem/FileSystemTests.swift
  Tests/BasicsTests/SandboxTests.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/ProductBuildDescriptionTests.swift
  Tests/CommandsTests/MermaidPackageSerializerTests.swift
  Tests/CommandsTests/MultiRootSupportTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/ModuleMapTests.swift
  Tests/LLBuildManifestTests/LLBuildManifestTests.swift
  Tests/PackageCollectionsTests/PackageCollectionsSourcesStorageTest.swift
  Tests/PackageCollectionsTests/PackageIndexConfigurationTests.swift
  Tests/PackageCollectionsTests/Utility.swift
  Tests/PackageFingerprintTests/FilePackageFingerprintStorageTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageLoadingTests/ManifestLoaderCacheTests.swift
  Tests/PackageLoadingTests/ModuleMapGenerationTests.swift
  Tests/PackageLoadingTests/PDLoadingTests.swift
  Tests/PackageLoadingTests/PD_4_0_LoadingTests.swift
  Tests/PackageLoadingTests/PD_4_2_LoadingTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
  Tests/PackageLoadingTests/PkgConfigParserTests.swift
  Tests/PackageLoadingTests/TargetSourcesBuilderTests.swift
  Tests/PackageLoadingTests/ToolsVersionParserTests.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
  Tests/PackageModelTests/SwiftSDKTests.swift
  Tests/PackageModelTests/ToolsetTests.swift
  Tests/PackageRegistryTests/RegistryClientTests.swift
  Tests/PackageRegistryTests/RegistryDownloadsManagerTests.swift
  Tests/PackageSigningTests/FilePackageSigningEntityStorageTests.swift
  Tests/SPMBuildCoreTests/ArtifactsArchiveMetadataTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SPMBuildCoreTests/XCFrameworkMetadataTests.swift
  Tests/SourceControlTests/InMemoryGitRepositoryTests.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
  Tests/WorkspaceTests/AuthorizationProviderTests.swift
  Tests/WorkspaceTests/MirrorsConfigurationTests.swift
  Tests/WorkspaceTests/PinsStoreTests.swift
  Tests/WorkspaceTests/ToolsVersionSpecificationRewriterTests.swift
  Tests/WorkspaceTests/WorkspaceStateTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: test suite, no functional change, dependencies

#7736 [6.0] Improve cross-compilation for experimental XCBuild support
  Sources/CoreCommands/Options.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/CommandsTests/BuildCommandTests.swift
Labels: enhancement, swift 6.0

#7748 Fix checksum computation for Swift SDK bundles
  Sources/Basics/Archiver/Archiver.swift
  Sources/Commands/PackageCommands/ComputeChecksum.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
Labels: bug, cross-compilation, command-line interface

#7749 [6.0] Fix checksum computation for Swift SDK bundles
  Sources/Basics/Archiver/Archiver.swift
  Sources/Commands/PackageCommands/ComputeChecksum.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
Labels: bug, cross-compilation, command-line interface, swift 6.0

#7750 Work around `swift-bootstrap` inability to handle plugins
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/swift-bootstrap/main.swift
Labels: bug, modules graph

#7751 [6.0] Work around `swift-bootstrap` inability to handle plugins
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/swift-bootstrap/main.swift
Labels: bug, modules graph, swift 6.0

#7756 Fix warnings caused by unused `await`
  Tests/PackageLoadingTests/ManifestLoaderCacheTests.swift
  Tests/PackageLoadingTests/PD_6_0_LoadingTests.swift
  Tests/WorkspaceTests/InitTests.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: no functional change

#7745 [6.0] Use `release` build configuration in `experimental-install`
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/Install.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
Labels: enhancement, command-line interface

#7754 Clarify unsupported direct macro module imports in `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#7450 Bump `swift-argument-parser` to 1.4.0
  Package.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: dependencies

#7768 Add the formalized Swift Testing event stream arguments to `swift test`.
  Sources/Commands/SwiftTestCommand.swift
Labels: swift test, command-line interface, swift 6.0

#7770 [6.0] Add the formalized Swift Testing event stream arguments to `swift test`.
  Sources/Commands/SwiftTestCommand.swift
Labels: swift test, command-line interface, swift 6.0

#7777 Detect when Swift Testing returns `EXIT_NO_TESTS_FOUND`.
  Sources/Commands/SwiftTestCommand.swift
Labels: bug, swift test

#7766 Build one test product for both Swift Testing and XCTest (with Swift Testing enabled by default.)
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/LLBuildCommands.swift
  Sources/Build/LLBuildDescription.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuiltTestProduct.swift
  Sources/Workspace/InitPackage.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: bug, build system, performance, swift test, swift build, command-line interface, swift 6.0

#7783 Disable Swift Testing by default in `swift package init`.
  Sources/Commands/PackageCommands/Init.swift
Labels: bug, swift package init

#7781 [6.0] NFC: Make 'FileRuleDescription.Rule' conform to `Sendable`
  Sources/PackageLoading/TargetSourcesBuilder.swift
Labels: concurrency, no functional change, swift 6.0

#7784 Remove `--enable-swift-testing` _et al._ from `swift build`.
  Sources/Commands/SwiftBuildCommand.swift
Labels: swift build, command-line interface

#7785 Fix warning in `OSSignpost.swift` w/ `@preconcurrency import`
  Sources/Basics/OSSignpost.swift
Labels: concurrency, no functional change

#7786 [6.0] Fix warning in `OSSignpost.swift` w/ `@preconcurrency import`
  Sources/Basics/OSSignpost.swift
Labels: concurrency, no functional change, swift 6.0

#7789 Build one test product for both Swift Testing and XCTest (with Swift Testing enabled by default.)
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/LLBuildCommands.swift
  Sources/Build/LLBuildDescription.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuiltTestProduct.swift
  Sources/Workspace/InitPackage.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: enhancement, build system, performance, swift test, swift build, swift package init, command-line interface

#7796 Don't stomp on xUnit output from XCTest when running Swift Testing.
  Sources/Commands/SwiftTestCommand.swift
Labels: bug, swift test

#7793 [6.0] NFC: Expose `Environment` with `@_spi`
  Sources/Basics/Environment/Environment.swift
  Sources/DriverSupport/DriverSupportUtils.swift
  Sources/DriverSupport/SPMSwiftDriverExecutor.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/Workspace/DefaultPluginScriptRunner.swift
  Tests/BasicsTests/Environment/EnvironmentTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: no functional change, swift 6.0

#7795 Fix Package.swift diagnostics line off by 1 for tools versions <= 5.7
  Sources/PackageLoading/ManifestLoader.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: package manifests, diagnostics

#7794 [6.0] Build one test product for both Swift Testing and XCTest (with Swift Testing enabled by default.)
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/LLBuildCommands.swift
  Sources/Build/LLBuildDescription.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuiltTestProduct.swift
  Sources/Workspace/InitPackage.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: enhancement, build system, performance, swift test, swift build, swift package init, command-line interface, swift 6.0

#7799 [PubGrub] Narrow down cases when pre-release decisions are marked invalid
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageGraph/Resolution/PubGrub/Term.swift
  Sources/PackageGraph/VersionSetSpecifier.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageGraphTests/VersionSetSpecifierTests.swift
Labels: bug, diagnostics, dependency resolution

#7803 Don't log "no matching tests" diagnostic when running XCTest only.
  Sources/Commands/SwiftTestCommand.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, swift test

#7804 [6.0] Don't log "no matching tests" diagnostic when running XCTest only.
  Sources/Commands/SwiftTestCommand.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, swift test, swift 6.0

#7806 Rename `BuildParameters.Testing.Library`.
  Sources/Basics/CMakeLists.txt
  Sources/Basics/TestingLibrary.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Sources/Workspace/InitPackage.swift
  Sources/_InternalTestSupport/misc.swift
Labels: bug, swift test, swift package init

#7741 Move the 'GitRepositoryProvider' to compare urls using their canonical representation, correctly accepting results where repositories only differ by '.git'
  CHANGELOG.md
  Sources/Commands/PackageCommands/ArchiveSource.swift
  Sources/PackageModel/PackageIdentity.swift
  Sources/SourceControl/GitRepository.swift
  Sources/SourceControl/Repository.swift
  Sources/SourceControl/RepositoryManager.swift
  Sources/_InternalTestSupport/InMemoryGitRepository.swift
  Tests/SourceControlTests/GitRepositoryProviderTests.swift
  Tests/SourceControlTests/GitRepositoryTests.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
  Tests/WorkspaceTests/SourceControlPackageContainerTests.swift
Labels: add to change log, source control

#7744 Use `release` build configuration in `experimental-install`
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/Install.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
Labels: enhancement, command-line interface

#7808 [6.0][PubGrub] Narrow down cases when pre-release decisions are marked inv…
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageGraph/Resolution/PubGrub/Term.swift
  Sources/PackageGraph/VersionSetSpecifier.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageGraphTests/VersionSetSpecifierTests.swift
Labels: bug, diagnostics, dependency resolution

#7816 [6.0] Handle `.xcprivacy` files in `TargetSourcesBuilder.swift`
  Sources/PackageLoading/TargetSourcesBuilder.swift
  Sources/SPMTestSupport/Observability.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
Labels: swift 6.0

#7817 Add back `--enable-experimental-swift-testing` to `swift build` as a no-op.
  Sources/Commands/SwiftBuildCommand.swift
Labels: bug, swift test, swift build

#7818 [6.0] Add back `--enable-experimental-swift-testing` to `swift build` as a no-op.
  Sources/Commands/SwiftBuildCommand.swift
Labels: bug, swift test, swift build

#7819 Expose `platformVersionProvider` with `@_spi(SwiftPMInternal)`
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/PackageGraph/Resolution/ResolvedModule.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
Labels: no functional change, public API

#7820 6.0: [NFC] Expose `platformVersionProvider` with `@_spi(SwiftPMInternal)`
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/PackageGraph/Resolution/ResolvedModule.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
Labels: no functional change, public API, swift 6.0

#7812 [Build] NFC: Compute per-module macro requirements on-demand
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Product.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
Labels: build system, performance, macros

#7828 [6.0][PackageLoading] Support deserialization of manifests that used `swif…
  Sources/PackageLoading/ManifestJSONParser.swift
Labels: bug, package manifests

#7805 Detect if XCTest is installed on Darwin
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/CoreCommands/Options.swift
Labels: enhancement, swift test

#7824 Add tests for `Basics/AsyncProcess`
  Package.swift
  Sources/Basics/AsyncProcess.swift
  Sources/Basics/Environment/Environment.swift
  Tests/BasicsTests/AsyncProcessTests.swift
  Tests/BasicsTests/processInputs/deadlock-if-blocking-io
  Tests/BasicsTests/processInputs/echo
  Tests/BasicsTests/processInputs/exit4
  Tests/BasicsTests/processInputs/in-to-out
  Tests/BasicsTests/processInputs/long-stdout-stderr
  Tests/BasicsTests/processInputs/simple-stdout-stderr
Labels: concurrency, test suite, no functional change

#7829 Fix `OSSignpost.swift` concurrency warning
  Sources/Basics/OSSignpost.swift
Labels: concurrency, no functional change

#7722 Implement `--checksum` option on `swift sdk install`
  Sources/Basics/Archiver/Archiver.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/SwiftSDKCommand/Configuration/DeprecatedSwiftSDKConfigurationCommand.swift
  Sources/SwiftSDKCommand/InstallSwiftSDK.swift
  Sources/SwiftSDKCommand/ListSwiftSDKs.swift
  Sources/SwiftSDKCommand/RemoveSwiftSDK.swift
  Sources/SwiftSDKCommand/SwiftSDKCommand.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: add to change log, enhancement, cross-compilation, command-line interface

#7822 NFC: Resolve some `Sendable`-related warnings
  Sources/Basics/Netrc.swift
  Sources/_InternalTestSupport/MockArchiver.swift
  Tests/BasicsTests/CancellatorTests.swift
  Tests/CommandsTests/PackageRegistryCommandTests.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: concurrency, no functional change

#7832 NFC: Fix doc comment link in `UndirectedGraph.swift`
  Sources/Basics/Graph/UndirectedGraph.swift
Labels: documentation, no functional change

#7837 NFC: Fix comment typo in `Package.swift`
  Package.swift
Labels: documentation, no functional change

#7836 Update copyright years in `README.md`
  README.md
Labels: documentation

#7843 Add `/.index-data` to `.gitignore` in `InitPackage.swift`
  Sources/Workspace/InitPackage.swift
Labels: bug, swift package init
