Repository swiftlang/swift-package-manager, pull requests merged in 2024-04, with the labels that each got.

#7434 Delete `Examples/package-info` directory as outdated
  Examples/package-info/Package.swift
  Examples/package-info/README.md
  Examples/package-info/Sources/package-info/example.swift
  Package.swift
Labels: documentation

#7429 🍒[cxx-interop] Propagate interop flag to the test entry point target
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: swift 6.0

#7351 [5.10] Fix test runner build on WASI
  Sources/Build/TestObservation.swift
Labels: bug, swift 5.10, swift test

#7321 [5.10] Fix non-tarballed SDK installation with remote URL (#7312)
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.zip
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: bug, cross-compilation, swift 5.10

#7438 Update Swift version to 5.9 in `.swiftformat`
  .swiftformat
Labels: no functional change

#7436 [PubGrub] Avoid resolving package versions twice in presence of prebuilt libraries
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/PrebuiltPackageContainer.swift
  Sources/PackageGraph/Resolution/PubGrub/ContainerProvider.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/SPMTestSupport/Resolver.swift
  Sources/Workspace/ResolverPrecomputationProvider.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Tests/PackageGraphTests/PubgrubTests.swift
Labels: dependency resolution

#7441 Fix sendability warnings in `URLSessionHTTPClient`
  Sources/Basics/AuthorizationProvider.swift
  Sources/Basics/HTTPClient/LegacyHTTPClient.swift
  Sources/Basics/HTTPClient/URLSessionHTTPClient.swift
  Sources/Build/BuildOperation.swift
  Sources/PackageRegistry/RegistryClient.swift
Labels: concurrency

#7347 Add basic `QueryEngine` scaffolding w/ `Encodable` hashing
  Package.swift
  Sources/Basics/Concurrency/ThrowingDefer.swift
  Sources/Basics/SQLiteBackedCache.swift
  Sources/QueryEngine/FileSystem/AsyncFileSystem.swift
  Sources/QueryEngine/FileSystem/FileCacheRecord.swift
  Sources/QueryEngine/FileSystem/OpenReadableFile.swift
  Sources/QueryEngine/FileSystem/OpenWritableFile.swift
  Sources/QueryEngine/FileSystem/ReadableFileStream.swift
  Sources/QueryEngine/FileSystem/VirtualFileSystem.swift
  Sources/QueryEngine/Query.swift
  Sources/QueryEngine/QueryEngine.swift
Labels: concurrency, no functional change

#7435 Add `HashEncoder` and `QueryEngineTests`
  Package.swift
  Sources/Basics/SQLite.swift
  Sources/Basics/SQLiteBackedCache.swift
  Sources/QueryEngine/CacheKey.swift
  Sources/QueryEngine/FileSystem/AsyncFileSystem.swift
  Sources/QueryEngine/FileSystem/FileCacheRecord.swift
  Sources/QueryEngine/FileSystem/OpenReadableFile.swift
  Sources/QueryEngine/FileSystem/OpenWritableFile.swift
  Sources/QueryEngine/FileSystem/ReadableFileStream.swift
  Sources/QueryEngine/FileSystem/VirtualFileSystem.swift
  Sources/QueryEngine/Query.swift
  Sources/QueryEngine/QueryEngine.swift
  Tests/QueryEngineTests/QueryEngineTests.swift
Labels: test suite, no functional change

#7455 Expose `computeTestTargetsForExecutableTargets` via SPI
  Sources/PackageGraph/ModulesGraph.swift
  Tests/FunctionalTests/PluginTests.swift
Labels: public API

#7457 [6.0][PubGrub] Avoid resolving package versions twice in presence of prebu…
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/PrebuiltPackageContainer.swift
  Sources/PackageGraph/Resolution/PubGrub/ContainerProvider.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/SPMTestSupport/Resolver.swift
  Sources/Workspace/ResolverPrecomputationProvider.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Tests/PackageGraphTests/PubgrubTests.swift
Labels: swift 6.0, dependency resolution

#7451 Enable strict concurrency checks on `Basics` module
  Package.swift
  Sources/Basics/Archiver/Archiver.swift
  Sources/Basics/Archiver/TarArchiver.swift
  Sources/Basics/Archiver/UniversalArchiver.swift
  Sources/Basics/Archiver/ZipArchiver.swift
  Sources/Basics/Cancellator.swift
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/Basics/Concurrency/TokenBucket.swift
  Sources/Basics/FileSystem/FileSystem+Extensions.swift
  Sources/Basics/FileSystem/TemporaryFile.swift
  Sources/Basics/HTTPClient/LegacyHTTPClient.swift
  Sources/Basics/HTTPClient/URLSessionHTTPClient.swift
  Sources/PackageRegistry/RegistryClient.swift
  Sources/PackageRegistry/RegistryDownloadsManager.swift
Labels: concurrency

#7454 Fix empty token on swift package-registry login (Issue #7453)
  Sources/PackageRegistryCommand/PackageRegistryCommand+Auth.swift
Labels: bug, needs tests, registry

#7460 Add `UndirectedGraph` and `DirectedGraph` data structures
  Sources/Basics/CMakeLists.txt
  Sources/Basics/Graph/AdjacencyMatrix.swift
  Sources/Basics/Graph/DirectedGraph.swift
  Sources/Basics/Graph/UndirectedGraph.swift
  Tests/BasicsTests/Graph/AdjacencyMatrixTests.swift
  Tests/BasicsTests/Graph/DirectedGraphTests.swift
  Tests/BasicsTests/Graph/UndirectedGraphTests.swift
Labels: no functional change, dependency resolution

#7463 Remove outdated doc comment in `Workspace+State.swift`
  Sources/Workspace/Workspace+State.swift
Labels: documentation, no functional change

#7462 Add basic thresholds for `PackageGraphBenchmarks.swift`
  Benchmarks/Benchmarks/PackageGraphBenchmarks/PackageGraphBenchmarks.swift
  Benchmarks/README.md
  Benchmarks/Thresholds/PackageGraphBenchmarks.PackageGraphLoading.p90.json
Labels: no functional change, performance

#7353 Revert "Revert "Support macros when cross-compiling (#7118)" (#7352)"
  CHANGELOG.md
  Sources/Basics/Collections/IdentifiableSet.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/ResolvedModule+BuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Product.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/CMakeLists.txt
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/Commands/Utilities/XCTEvents.swift
  Sources/PackageGraph/BuildTriple.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageGraph/Resolution/ResolvedModule.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageModel/Target/Target.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/MockArchiver.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/SPMTestSupport/ResolvedTarget+Mock.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/ClangTargetBuildDescriptionTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/PluginsBuildPlanTests.swift
  Tests/BuildTests/ProductBuildDescriptionTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/CommandsTests/SwiftCommandStateTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
  Tests/PackageGraphTests/ResolvedTargetTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: bug, cross-compilation

#7472 [6.0] pkgconfig: Apply PKG_CONFIG_SYSROOTDIR when generating paths
  Sources/PackageLoading/PkgConfig.swift
  Tests/PackageLoadingTests/PkgConfigParserTests.swift
  Tests/PackageLoadingTests/pkgconfigInputs/case_insensitive.pc
  Tests/PackageLoadingTests/pkgconfigInputs/deps_variable.pc
  Tests/PackageLoadingTests/pkgconfigInputs/double_sysroot.pc
  Tests/PackageLoadingTests/pkgconfigInputs/dummy_dependency.pc
  Tests/PackageLoadingTests/pkgconfigInputs/empty_cflags.pc
  Tests/PackageLoadingTests/pkgconfigInputs/escaped_spaces.pc
  Tests/PackageLoadingTests/pkgconfigInputs/failure_case.pc
  Tests/PackageLoadingTests/pkgconfigInputs/not_double_sysroot.pc
  Tests/PackageLoadingTests/pkgconfigInputs/quotes_failure.pc
Labels: bug, swift 6.0

#7467 [SE-0301] Updating a project and its manifest programmatically and from the command line
  BuildSupport/SwiftSyntax/CMakeLists.txt
  CMakeLists.txt
  Package.swift
  Sources/CMakeLists.txt
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/AddDependency.swift
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Sources/PackageModel/Manifest/TargetDescription.swift
  Sources/PackageModel/ManifestSourceGeneration.swift
  Sources/PackageModelSyntax/AddPackageDependency.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/PackageModelSyntax/CMakeLists.txt
  Sources/PackageModelSyntax/ManifestEditError.swift
  Sources/PackageModelSyntax/ManifestSyntaxRepresentable.swift
  Sources/PackageModelSyntax/PackageDependency+Syntax.swift
  Sources/PackageModelSyntax/PackageEditResult.swift
  Sources/PackageModelSyntax/SyntaxEditUtils.swift
  Sources/PackageModelSyntax/TargetDescription+Syntax.swift
  Sources/Workspace/Workspace.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/MiscellaneousTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/FunctionalTests/ResourcesTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
Labels: enhancement, command-line interface, swift package

#7493 Include host triple test modules in `ResolvedPackage`
  Sources/Basics/Errors.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Resources.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Tests/BuildTests/ClangTargetBuildDescriptionTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, cross-compilation, build system, needs tests, package graph, resources

#7494 6.0: [SE-0301] Implement package manifest editing command-line options
  BuildSupport/SwiftSyntax/CMakeLists.txt
  CMakeLists.txt
  Package.swift
  Sources/CMakeLists.txt
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/AddDependency.swift
  Sources/Commands/PackageCommands/AddProduct.swift
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Sources/PackageModel/Manifest/TargetDescription.swift
  Sources/PackageModel/ManifestSourceGeneration.swift
  Sources/PackageModelSyntax/AddPackageDependency.swift
  Sources/PackageModelSyntax/AddProduct.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/PackageModelSyntax/CMakeLists.txt
  Sources/PackageModelSyntax/ManifestEditError.swift
  Sources/PackageModelSyntax/ManifestSyntaxRepresentable.swift
  Sources/PackageModelSyntax/PackageDependency+Syntax.swift
  Sources/PackageModelSyntax/PackageEditResult.swift
  Sources/PackageModelSyntax/ProductDescription+Syntax.swift
  Sources/PackageModelSyntax/SyntaxEditUtils.swift
  Sources/PackageModelSyntax/TargetDescription+Syntax.swift
  Sources/Workspace/Workspace.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/MiscellaneousTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/FunctionalTests/ResourcesTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Utilities/bootstrap
Labels: add to change log, enhancement, package manifests, swift 6.0

#7488 [6.0] NFC: Add `Sendable` annotations to PackageDescription APIs
  Sources/PackageDescription/BuildSettings.swift
  Sources/PackageDescription/Context.swift
  Sources/PackageDescription/Product.swift
  Sources/PackageDescription/Resource.swift
  Sources/PackageDescription/SupportedPlatforms.swift
  Sources/PackageDescription/Version.swift
Labels: concurrency, swift 6.0

#7504 [6.0] Handle Swift versions unsupported by XCBuild
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/Target/SwiftTarget.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: swift 6.0

#7507 Remove `experimental` prefix from Swift SDK command
  Package.swift
  Sources/CMakeLists.txt
  Sources/CoreCommands/Options.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/SwiftSDKCommand/README.md
  Sources/SwiftSDKCommand/SwiftSDKCommand.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-sdk/CMakeLists.txt
  Sources/swift-sdk/Entrypoint.swift
  Utilities/bootstrap
Labels: cross-compilation, cmake, command-line interface

#7508 Fix test targets that depend on macros and `swift-testing`
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/TestingSupport.swift
Labels: bug, cross-compilation, build system, needs tests, swift test, swift build

#7506 plugins: Pass correct dependency origin information to plugins
  Sources/PackagePlugin/PluginContextDeserializer.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, plugins

#7512 Bring back `experimental-sdk` as deprecated for compatibility
  CHANGELOG.md
  Package.swift
  Sources/CMakeLists.txt
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/swift-experimental-sdk/CMakeLists.txt
  Sources/swift-experimental-sdk/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Utilities/bootstrap
Labels: add to change log, cross-compilation, swift build, command-line interface

#7513 NFC: Fix a typo in a label of `ModuleError.duplicateModulesScmAndRegistry`
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageLoading/PackageBuilder.swift
Labels: no functional change

#7511 [6.0] plugins: Pass correct dependency origin information to plugins
  Sources/PackagePlugin/PluginContextDeserializer.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, plugins, swift 6.0

#7516 [6.0] Make `supportedTriples` optional in artifactbundle metadata
  Sources/PackageModel/ArtifactsArchiveMetadata.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundle.swift
  Sources/SPMBuildCore/BinaryTarget+Extensions.swift
  Tests/PackageModelTests/SwiftSDKTests.swift
  Tests/SPMBuildCoreTests/ArtifactsArchiveMetadataTests.swift
Labels: add to change log, enhancement, cross-compilation, swift 6.0

#7517 Add end-to-end tests for `sdk` and `experimental-sdk` commands
  Fixtures/SwiftSDKs/Package.swift
  Sources/SPMTestSupport/SwiftPMProduct.swift
  Tests/CommandsTests/SDKCommandTests.swift
Labels: cross-compilation, test suite, no functional change, command-line interface

#7518 Add `swift build --enable-code-coverage`
  Sources/Commands/SwiftBuildCommand.swift
  Tests/CommandsTests/BuildCommandTests.swift
Labels: enhancement, swift test, swift build, command-line interface
