Repository swiftlang/swift-package-manager, pull requests merged in 2024-12, with the labels that each got.

#8126 Package plugins don't work on Windows if the PATH environment variable isn't accessed with the right case
  Sources/PackageLoading/ManifestLoader.swift
  Sources/SPMBuildCore/Plugins/DefaultPluginScriptRunner.swift
Labels: bug, windows, needs tests

#8154 Unify env vars for `Utilities/bootstrap` commands
  Utilities/bootstrap
Labels: bootstrap

#8152 Show human-readable git errors
  Sources/SourceControl/GitRepository.swift
  Tests/SourceControlTests/GitRepositoryProviderTests.swift
Labels: bug, source control, diagnostics

#8164 Workspace/InitPackage: Add `.vscode` to `.gitignore`
  Sources/Workspace/InitPackage.swift
Labels: enhancement, swift package init, workspace

#8165 Fix comment typo in `SwiftCommandState.swift`
  Sources/CoreCommands/SwiftCommandState.swift
Labels: no functional change

#8138 Return compiler arguments for invalid package manifests
  Sources/Workspace/Workspace+Manifests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, needs tests

#8158 Enable cross-import overlays in test targets.
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: enhancement, swift test, swift build

#8170 Add `--experimental-attachments-path` to `swift test`.
  Sources/Commands/SwiftTestCommand.swift
Labels: swift test, command-line interface

#8124 CMake: Make `SourceControl` a shared library
  Sources/SourceControl/CMakeLists.txt
Labels: bug, cmake

#8178 [Traits] Only allow valid Swift identifiers
  Sources/PackageLoading/ManifestLoader+Validation.swift
  Tests/PackageLoadingTests/TraitLoadingTests.swift
Labels: pending evolution proposal, enhancement
