Repository swiftlang/swift-package-manager, pull requests merged in 2024-11, with the labels that each got.

#8088 Fix initial manifest caching with nested scratch dir and local cache
  Sources/Basics/SQLiteBackedCache.swift
  Tests/BasicsTests/SQLiteBackedCacheTests.swift
Labels: bug, swift package

#8087 Use async `HTTPClient` in `BinaryArtifactsManager`
  Sources/Basics/Concurrency/ThreadSafeBox.swift
  Sources/Workspace/Diagnostics.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/_InternalTestSupport/MockHTTPClient.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, concurrency

#8086 Make access modifiers public for users of the package.
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/Workspace/Workspace.swift
Labels: public API

#8049 Support separate modules for static and dynamic exporting symbols for Windows
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/_InternalTestSupport/MockBuildTestHelper.swift
  Tests/BuildTests/WindowsBuildPlanTests.swift
Labels: windows

#8107 Expose all target files to SourceKit-LSP
  Sources/Build/BuildDescription/ClangModuleBuildDescription.swift
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: public API

#8113 Log timestamps in the bootstrap scripts
  Utilities/bootstrap
  Utilities/helpers.py
Labels: logging
