Repository swiftlang/swift-package-manager, pull requests merged in 2024-08, with the labels that each got.

#7844 Add a comment to explain why we don't process code coverage on test fail
  Sources/Commands/SwiftTestCommand.swift
Labels: documentation, swift test

#7761 Remove `temp_await` [part 1]
  Sources/Basics/Archiver/Archiver.swift
  Sources/Basics/Archiver/TarArchiver.swift
  Sources/Basics/Archiver/UniversalArchiver.swift
  Sources/Basics/Archiver/ZipArchiver.swift
  Sources/Basics/AuthorizationProvider.swift
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/Basics/Concurrency/ThreadSafeBox.swift
  Sources/Basics/Concurrency/ThreadSafeKeyValueStore.swift
  Sources/Commands/PackageCommands/ArchiveSource.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Publish.swift
  Sources/_InternalTestSupport/MockArchiver.swift
  Sources/_InternalTestSupport/MockRegistry.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/CommandsTests/PackageRegistryCommandTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: enhancement, concurrency

#7849 Restore XML output for Swift Testing when `--disable-xctest` is passed.
  Sources/Commands/SwiftTestCommand.swift
Labels: bug, swift test

#7845 Remove `temp_await` [part 2]
  Examples/package-info/Sources/package-info/example.swift
  Sources/Basics/Graph/GraphAlgorithms.swift
  Sources/Basics/Observability.swift
  Sources/Build/BuildOperation.swift
  Sources/Commands/PackageCommands/APIDiff.swift
  Sources/Commands/PackageCommands/ArchiveSource.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Sources/Commands/PackageCommands/DumpCommands.swift
  Sources/Commands/PackageCommands/EditCommands.swift
  Sources/Commands/PackageCommands/Install.swift
  Sources/Commands/PackageCommands/Learn.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/Resolve.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/Commands/PackageCommands/Update.swift
  Sources/Commands/SwiftRunCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageCollections/Storage/PackageCollectionsStorage.swift
  Sources/PackageCollections/Storage/SQLitePackageCollectionsStorage.swift
  Sources/PackageGraph/PackageContainer.swift
  Sources/PackageLoading/ManifestLoader.swift
  Sources/PackageRegistry/ChecksumTOFU.swift
  Sources/PackageRegistry/RegistryClient.swift
  Sources/PackageRegistry/RegistryDownloadsManager.swift
  Sources/PackageRegistry/SignatureValidation.swift
  Sources/PackageRegistry/SigningEntityTOFU.swift
  Sources/PackageSigning/SigningEntity/PackageSigningEntityStorage.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMBuildCore/Plugins/PluginScriptRunner.swift
  Sources/SourceControl/RepositoryManager.swift
  Sources/Workspace/PackageContainer/SourceControlPackageContainer.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/Workspace/Workspace+Editing.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace+Registry.swift
  Sources/Workspace/Workspace+SourceControl.swift
  Sources/Workspace/Workspace.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageCollectionsSigningTests/CertificatePolicyTests.swift
  Tests/PackageCollectionsSigningTests/PackageCollectionSigningTests.swift
  Tests/PackageCollectionsSigningTests/SignatureTests.swift
  Tests/PackageFingerprintTests/FilePackageFingerprintStorageTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageRegistryTests/PackageVersionChecksumTOFUTests.swift
  Tests/PackageRegistryTests/RegistryClientTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
  Tests/WorkspaceTests/SourceControlPackageContainerTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, concurrency

#7815 Add `--type` argument to `swift package add-dependency`
  Sources/Commands/PackageCommands/AddDependency.swift
  Sources/PackageModelSyntax/PackageDependency+Syntax.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: command-line interface

#7847 Remove `temp_await` from PubGrub code
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
Labels: concurrency, dependency resolution

#7852 Remove `temp_await` from swift-bootstrap
  Sources/swift-bootstrap/main.swift
Labels: bug, concurrency

#7839 NFC: Rename `PinsStore` to `PackageResolvedStore`
  Sources/Commands/PackageCommands/Update.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/PackageGraphRoot.swift
  Sources/PackageGraph/Resolution/PubGrub/ContainerProvider.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubPackageContainer.swift
  Sources/PackageGraph/ResolvedPackagesStore.swift
  Sources/Workspace/CMakeLists.txt
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/Workspace/Workspace+Registry.swift
  Sources/Workspace/Workspace+ResolvedPackages.swift
  Sources/Workspace/Workspace+SourceControl.swift
  Sources/Workspace/Workspace.swift
  Sources/_InternalTestSupport/MockWorkspace.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/DependencyResolutionTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/PackageGraphTests/PubGrubTests.swift
  Tests/WorkspaceTests/ResolvedPackagesStoreTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: no functional change, contributor experience

#7851 Remove `temp_await` from `Build`/`BuildPlan`/`*Command`/`Workspace`
  Sources/Basics/Graph/GraphAlgorithms.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/LLBuildCommands.swift
  Sources/Build/LLBuildProgressTracker.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/Workspace/Workspace.swift
  Sources/_InternalTestSupport/MockBuildTestHelper.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/BuildTests/PrepareForIndexTests.swift
  Tests/CommandsTests/SwiftCommandStateTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: bug, concurrency, build system, command-line interface, workspace

#7830 NFC: Add `AsyncStream`-based API to `AsyncProcess`
  Sources/Basics/AsyncProcess.swift
  Tests/BasicsTests/AsyncProcessTests.swift
Labels: concurrency, no functional change

#7831 Add `async`-friendly `WritableStream`, create `_AsyncFileSystem` module
  Package.swift
  Sources/Basics/CMakeLists.txt
  Sources/Basics/Concurrency/AsyncProcess.swift
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/CMakeLists.txt
  Sources/QueryEngine/FileCacheRecord.swift
  Sources/QueryEngine/FileSystem/AsyncFileSystem.swift
  Sources/QueryEngine/FileSystem/OpenReadableFile.swift
  Sources/QueryEngine/FileSystem/OpenWritableFile.swift
  Sources/QueryEngine/FileSystem/ReadableFileStream.swift
  Sources/QueryEngine/FileSystem/VirtualFileSystem.swift
  Sources/QueryEngine/QueryEngine.swift
  Sources/_AsyncFileSystem/AsyncFileSystem.swift
  Sources/_AsyncFileSystem/CMakeLists.txt
  Sources/_AsyncFileSystem/ConcurrencySupport.swift
  Sources/_AsyncFileSystem/MockFileSystem.swift
  Sources/_AsyncFileSystem/OpenReadableFile.swift
  Sources/_AsyncFileSystem/OpenWritableFile.swift
  Sources/_AsyncFileSystem/ReadableFileStream.swift
  Sources/_AsyncFileSystem/WritableStream.swift
  Tests/QueryEngineTests/QueryEngineTests.swift
  Tests/_AsyncFileSystemTests/AsyncFileSystemTests.swift
Labels: concurrency, no functional change

#7856 [6.0] Properly handle swift-testing installations in toolchain/SDK
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/Toolchain.swift
  Sources/PackageModel/ToolchainConfiguration.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/PackageModel/WindowsToolchainInfo.swift
Labels: windows, build system, swift test, macros

#7885 Disable part of a test that fails with Swift Testing in the toolchain.
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, test suite, swift test

#7898 [CHANGELOG] NFC: Add an entry for SE-0441 and mark recursive dependencies as implemented in Swift 6
  CHANGELOG.md
Labels: documentation, no functional change

#7901 [6.0] Disable part of a test that fails with Swift Testing in the toolchain.
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, test suite, swift test, swift 6.0

#7872 Update package templates to use Swift Testing in the toolchain rather than as a package dependency.
  Fixtures/Miscellaneous/TestDiscovery/SwiftTesting/Package.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/Workspace/InitPackage.swift
  Sources/_InternalTestSupport/misc.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: enhancement, swift package init, command-line interface, swift package

#7910 [6.0] Update package templates to use Swift Testing in the toolchain rather than as a package dependency.
  Fixtures/Miscellaneous/TestDiscovery/SwiftTesting/Package.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/InitPackage.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: enhancement, swift package init, command-line interface, swift 6.0, swift package

#7911 [6.0.0] Update package templates to use Swift Testing in the toolchain rather than as a package dependency.
  Fixtures/Miscellaneous/TestDiscovery/SwiftTesting/Package.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/InitPackage.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Tests/WorkspaceTests/InitTests.swift
Labels: enhancement, swift package init, command-line interface, swift package

#7923 Disable `testAsyncStream*` in `AsyncProcessTests.swift`
  Tests/BasicsTests/AsyncProcessTests.swift
Labels: bug, concurrency, test suite

#7926 Fix direct `FilePath` hashing in `QueryEngine`
  Sources/QueryEngine/CacheKey.swift
  Sources/QueryEngine/Query.swift
  Sources/QueryEngine/QueryEngine.swift
  Tests/QueryEngineTests/QueryEngineTests.swift
Labels: bug
