Repository swiftlang/swift-package-manager, pull requests merged in 2024-03, with the labels that each got.

#7382 Remove uses of `temp_await` from `SwiftTestCommand`
  Sources/Commands/SwiftTestCommand.swift
  Sources/SPMTestSupport/XCTAssertHelpers.swift
  Sources/swift-package-manager/SwiftPM.swift
  Sources/swift-test/CMakeLists.txt
  Sources/swift-test/Entrypoint.swift
  Tests/BuildTests/PluginsBuildPlanTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
Labels: bug, concurrency, swift test

#7386 Add XDG Base Directory Specification support
  Sources/Basics/FileSystem/FileSystem+Extensions.swift
Labels: add to change log, enhancement, linux, needs tests

#7387 Hide more llbuild-specific APIs
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/PluginDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Build/ClangSupport.swift
  Sources/Build/SwiftCompilerOutputParser.swift
  Sources/Build/TestObservation.swift
  Sources/LLBuildManifest/Command.swift
  Sources/LLBuildManifest/LLBuildManifest.swift
  Sources/LLBuildManifest/LLBuildManifestWriter.swift
  Sources/LLBuildManifest/Node.swift
  Sources/LLBuildManifest/Target.swift
  Sources/LLBuildManifest/Tools.swift
Labels: build system, public API

#7390 Replace `ProcessEnv.vars` with `block` w/o API breakage
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageCommands/Format.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/PackageLoading/ManifestLoader.swift
  Sources/PackageLoading/PkgConfig.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SourceControl/RepositoryManager.swift
  Sources/Workspace/DefaultPluginScriptRunner.swift
  Sources/Workspace/Workspace+Configuration.swift
  Sources/XCBuildSupport/XcodeBuildSystem.swift
  Tests/CommandsTests/APIDiffTests.swift
  Tests/PackageCollectionsTests/GitHubPackageMetadataProviderTests.swift
Labels: bug, no functional change

#7391 Remove previously deprecated `--enable-test-discovery`
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters+Testing.swift
  Tests/CommandsTests/TestCommandTests.swift
  Tests/FunctionalTests/TestDiscoveryTests.swift
Labels: swift test

#7396 Pass all arguments when initing testing parameters in `swift build`
  Fixtures/Miscellaneous/TestDiscovery/IgnoresLinuxMain/Package.swift
  Fixtures/Miscellaneous/TestDiscovery/IgnoresLinuxMain/Tests/IgnoresLinuxMainTests/SomeTest.swift
  Fixtures/Miscellaneous/TestDiscovery/IgnoresLinuxMain/Tests/LinuxMain.swift
  Sources/Commands/SwiftBuildCommand.swift
  Tests/CommandsTests/BuildCommandTests.swift
Labels: bug, swift test, swift build

#7401 Fix remove `to let` from parameter description
  Documentation/PackageDescription.md
Labels: documentation, no functional change

#7402 Replace getdtablesize() on Android
  Sources/Commands/SwiftRunCommand.swift
Labels: bug, Android

#7404 Suppress redundant linkage warnings due to dependency linkage propagation
  Fixtures/Miscellaneous/DoNotFilterLinkerDiagnostics/Package.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: build system, diagnostics

#7408 Fix a memory leak in `DownloadTaskManager` and `DataTaskManager`
  Sources/Basics/HTTPClient/URLSessionHTTPClient.swift
Labels: bug

#7418 Fix doc comment typo in `Sandbox.swift`
  Sources/Basics/Sandbox.swift
Labels: documentation

#7414 [6.0] Suppress redundant linkage warnings
  Fixtures/Miscellaneous/DoNotFilterLinkerDiagnostics/Package.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: diagnostics, swift 6.0

#7421 PackageModelTests: fix warnings
  Tests/PackageModelTests/MinimumDeploymentTargetTests.swift
Labels: test suite

#7416 [6.0] Fix a memory leak in `DownloadTaskManager` and `DataTaskManager`
  Sources/Basics/HTTPClient/URLSessionHTTPClient.swift
Labels: bug, swift 6.0

#7424 Use `arguments` instead of `argumentList` in the macro template
  Sources/Workspace/InitPackage.swift
Labels: swift 6.0

#7426 On Darwin, allow XCTest to be missing if we're only building swift-testing tests.
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
Labels: bug, swift test, swift 6.0

#7430 [6.0] On Darwin, allow XCTest to be missing if we're only building swift-testing tests.
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
Labels: bug, swift test, swift 6.0
