Repository swiftlang/swift-package-manager, pull requests merged in 2024-06, with the labels that each got.

#7616 Fix incremental builds for `embedInCode` resources
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/LLBuildManifest/LLBuildManifest.swift
  Tests/FunctionalTests/ResourcesTests.swift
Labels: bug, build system

#7617 [6.0][PackageGraph] Allow package-level cyclic dependency only for >= 6.0 …
  CHANGELOG.md
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: swift 6.0

#7624 [6.0] Partially revert #7566 to fix amazon linux 2 crash
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
Labels: swift 6.0

#7610 Add cxx interop support to symbolgraph-extract
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: C++ interop, needs tests

#7618 [6.0] Fix incremental builds for `embedInCode` resources
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/LLBuildManifest/LLBuildManifest.swift
  Tests/FunctionalTests/ResourcesTests.swift
Labels: bug, build system, swift 6.0

#7621 Fix `swift-symbolgraph-extract` search paths
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: bug, build system

#7630 [Basics] Switch `IdentifiableSet` to use `OrderedDictionary`
  Sources/Basics/Collections/IdentifiableSet.swift
Labels: bug, build system, package graph

#7628 [6.0] Add `swift package add-target-dependency` command to edit the manifest
  Package.swift
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageCommands/AddTargetDependency.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: enhancement, package manifests, command-line interface, swift 6.0

#7633 Fix `clang` linker driver issue in the bootstrap script
  Utilities/bootstrap
Labels: bug, linux, cmake

#7632 Update versions in `Utilities/Docker/Dockerfile`
  Utilities/Docker/Dockerfile
Labels: dependencies, contributor experience

#7631 Require CMake 3.24 in `CMakeLists.txt`
  CMakeLists.txt
Labels: bug, cmake

#7646 [Build/PackageGraph] Sink fallback logic for macro/plugin/test products and packages identification into `ModulesGraph`
  Sources/Build/BuildOperation.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
Labels: bug, modules graph

#7650 [Build/PackageGraph] Switch `BuildSubset.{product, target}` and `Modu…
  Sources/Build/BuildOperation.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
Labels: build system, modules graph

#7652 Remove `Sendable` conformance on `Bundle` from SwiftPM
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
Labels: concurrency, build system, resources

#7655 Relax version ranges for dependencies in `Package.swift`
  Package.swift
Labels: enhancement, dependencies

#7657 [6.0] Relax version ranges for dependencies in `Package.swift`
  Package.swift
Labels: enhancement, dependencies, swift 6.0

#7653 [6.0] Remove `Sendable` conformance on `Bundle` from SwiftPM
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
Labels: concurrency, resources, swift 6.0

#7605 Fix retroactive conformance warnings for 6.0+ compilers
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Publish.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/Diagnostics.swift
  Sources/Workspace/Workspace.swift
  Sources/swift-bootstrap/main.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageGraphTests/TopologicalSortTests.swift
Labels: no functional change

#7660 [Build] NFC: A few minor refactorings to build operation state tracking
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
Labels: no functional change

#7668 [6.0][Build/PackageGraph] Switch `BuildSubset.{product, target}` and `Modu…
  Sources/Build/BuildOperation.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
Labels: build system, modules graph, swift 6.0

#7663 Fix: cache not cleaned up if download fails
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug

#7681 Make traits optional in manifest deserialization
  Sources/PackageDescription/PackageDescriptionSerialization.swift
  Sources/PackageLoading/ManifestJSONParser.swift
Labels: bug, package manifests

#7678 [6.0][Test-only] Don't use invalid module to satisfy `canImport` check (#7647)
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: test suite, no functional change

#7666 Update versions in `Examples/package-info/Package.swift`
  Examples/package-info/Package.swift
Labels: bug, documentation, public API

#7682 Fix parameter documentation in `PackageDependency.swift`
  Sources/PackageDescription/PackageDependency.swift
Labels: documentation

#7677 Provide deprecation messages for `PackagePlugin.Path`
  Sources/PackagePlugin/Command.swift
  Sources/PackagePlugin/Context.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/PackageModel.swift
  Sources/PackagePlugin/Path.swift
Labels: plugins, documentation, no functional change

#7683 [6.0] Provide deprecation messages for `PackagePlugin.Path`
  Sources/PackagePlugin/Command.swift
  Sources/PackagePlugin/Context.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/PackageModel.swift
  Sources/PackagePlugin/Path.swift
Labels: documentation, no functional change, swift 6.0

#7675 [Prepare] Don't skip non-exportable-decls when enable-testing
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Tests/BuildTests/PrepareForIndexTests.swift
Labels: bug, build system

#7671 [6.0] Fix cache not cleaned up if download fails
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/Workspace/Workspace+BinaryArtifacts.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, swift 6.0

#7685 Clarify reproduction steps requirements in `BUG_REPORT.yml`
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Labels: documentation

#7689 [Traits] Integrate traits into module loading
  Fixtures/Traits/Example/Package.swift
  Fixtures/Traits/Example/Sources/Example/Example.swift
  Fixtures/Traits/Package1/Package.swift
  Fixtures/Traits/Package1/Sources/Package1Library1/Library.swift
  Fixtures/Traits/Package10/Package.swift
  Fixtures/Traits/Package10/Sources/Package10Library1/Library.swift
  Fixtures/Traits/Package2/Package.swift
  Fixtures/Traits/Package2/Sources/Package2Library1/Library.swift
  Fixtures/Traits/Package3/Package.swift
  Fixtures/Traits/Package3/Sources/Package3Library1/Library.swift
  Fixtures/Traits/Package4/Package.swift
  Fixtures/Traits/Package4/Sources/Package4Library1/Library.swift
  Fixtures/Traits/Package5/Package.swift
  Fixtures/Traits/Package5/Sources/Package5Library1/Library.swift
  Fixtures/Traits/Package6/Package.swift
  Fixtures/Traits/Package6/Sources/Package6Library1/Library.swift
  Fixtures/Traits/Package7/Package.swift
  Fixtures/Traits/Package7/Sources/Package7Library1/Library.swift
  Fixtures/Traits/Package8/Package.swift
  Fixtures/Traits/Package8/Sources/Package6Library1/Library.swift
  Fixtures/Traits/Package9/Package.swift
  Fixtures/Traits/Package9/Sources/Package9Library1/Library.swift
  Sources/PackageDescription/PackageDependency.swift
  Sources/PackageDescription/PackageDescriptionSerializationConversion.swift
  Sources/PackageGraph/GraphLoadingNode.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageLoading/ManifestJSONParser.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/DependencyMapper.swift
  Sources/PackageModel/Manifest/PackageDependencyDescription.swift
  Sources/SPMTestSupport/ManifestExtensions.swift
  Sources/SPMTestSupport/MockDependency.swift
  Sources/SPMTestSupport/MockPackage.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SPMTestSupport/PackageDependencyDescriptionExtensions.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace.swift
  Tests/BuildTests/ClangTargetBuildDescriptionTests.swift
  Tests/FunctionalTests/TraitTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
Labels: pending evolution proposal, enhancement, modules graph, package manifests

#7687 Remove unused `Codable` conformances on `PackageModel` types
  Sources/PackageModel/BuildConfiguration.swift
  Sources/PackageModel/BuildEnvironment.swift
  Sources/PackageModel/BuildSettings.swift
  Sources/PackageModel/Manifest/PackageConditionDescription.swift
  Sources/PackageModel/PackageModel.swift
  Sources/PackageModel/Product.swift
  Sources/PackageModel/Target/BinaryTarget.swift
  Sources/PackageModel/Target/ClangTarget.swift
  Sources/PackageModel/Target/PluginTarget.swift
  Sources/PackageModel/Target/ProvidedLibraryTarget.swift
  Sources/PackageModel/Target/SwiftTarget.swift
  Sources/PackageModel/Target/SystemLibraryTarget.swift
  Sources/PackageModel/Target/Target.swift
Labels: no functional change

#7661 Fix a link and top section in `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation, no functional change

#7447 Fix incorrect executable target diagnostic
  Sources/PackageLoading/PackageBuilder.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
Labels: bug, diagnostics

#7694 [Traits] Add experimental flags to enable specific or all traits, disable default traits
  Sources/Build/BuildOperation.swift
  Sources/Build/LLBuildDescription.swift
  Sources/Commands/PackageCommands/APIDiff.swift
  Sources/Commands/PackageCommands/DumpCommands.swift
  Sources/Commands/PackageCommands/InstalledPackages.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/Snippets/Cards/SnippetCard.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftRunCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/Options.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageGraph/CMakeLists.txt
  Sources/PackageGraph/GraphLoadingNode.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/TraitConfiguration.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/Workspace/Workspace.swift
  Sources/swift-bootstrap/main.swift
  Tests/FunctionalTests/TraitTests.swift
Labels: pending evolution proposal, enhancement, command-line interface

#7695 Fix build of host&target destination products with `--static-swift-stdlib`
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, cross-compilation, static linking

#7701 [Traits] Encode all trait information for package dump
  Sources/PackageModel/Manifest/Manifest.swift
  Sources/PackageModel/Manifest/TraitDescription.swift
  Tests/FunctionalTests/TraitTests.swift
Labels: pending evolution proposal, enhancement, modules graph

#7702 [Traits] Correctly diagnose unused dependency with traits
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Tests/FunctionalTests/TraitTests.swift
Labels: pending evolution proposal, enhancement, modules graph

#7704 [Traits] Enable trait configuration for `swift-test`
  Fixtures/Traits/Example/Package.swift
  Fixtures/Traits/Example/Tests/ExampleTests/Tests.swift
  Sources/Commands/SwiftTestCommand.swift
  Tests/FunctionalTests/TraitTests.swift
Labels: pending evolution proposal, enhancement, swift test, command-line interface

#7703 [Traits] Replace `isDefault` with `default` trait
  Fixtures/Traits/Example/Package.swift
  Fixtures/Traits/Package3/Package.swift
  Fixtures/Traits/Package4/Package.swift
  Sources/PackageDescription/PackageDependencyTrait.swift
  Sources/PackageDescription/PackageDescriptionSerialization.swift
  Sources/PackageDescription/PackageDescriptionSerializationConversion.swift
  Sources/PackageDescription/Trait.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageLoading/ManifestJSONParser.swift
  Sources/PackageLoading/ManifestLoader+Validation.swift
  Sources/PackageModel/Manifest/TraitDescription.swift
  Sources/SPMTestSupport/PackageDependencyDescriptionExtensions.swift
  Tests/FunctionalTests/TraitTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/PackageLoadingTests/TraitLoadingTests.swift
Labels: pending evolution proposal, enhancement, modules graph, package manifests

#7713 [6.0] Improvements to prebuilt/provided library handling
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageCommands/EditCommands.swift
  Sources/Commands/PackageCommands/Update.swift
  Sources/Commands/Snippets/Cards/TopCard.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageGraph/BoundVersion.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/Resolution/PubGrub/ContainerProvider.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/CMakeLists.txt
  Sources/PackageModel/InstalledLibrariesSupport/LibraryMetadata.swift
  Sources/PackageModel/Manifest/Manifest.swift
  Sources/PackageModel/Manifest/TargetDescription.swift
  Sources/PackageModel/ManifestSourceGeneration.swift
  Sources/PackageModel/PackageReference.swift
  Sources/PackageModel/Target/ProvidedLibraryTarget.swift
  Sources/PackageModel/Target/Target.swift
  Sources/PackageModel/Toolchain.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Sources/PackageModelSyntax/TargetDescription+Syntax.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/MockWorkspace.swift
  Sources/SPMTestSupport/misc.swift
  Sources/Workspace/ManagedDependency.swift
  Sources/Workspace/PackageContainer/SourceControlPackageContainer.swift
  Sources/Workspace/Workspace+Dependencies.swift
  Sources/Workspace/Workspace+Editing.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace+Pinning.swift
  Sources/Workspace/Workspace+State.swift
  Sources/Workspace/Workspace.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: build system, modules graph, swift 6.0

#7717 [NFC] Fix typo, make formatting in PubGrub code consistent
  Sources/PackageGraph/Resolution/PubGrub/Assignment.swift
  Sources/PackageGraph/Resolution/PubGrub/DiagnosticReportBuilder.swift
  Sources/PackageGraph/Resolution/PubGrub/Incompatibility.swift
  Sources/PackageGraph/Resolution/PubGrub/PartialSolution.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubPackageContainer.swift
  Sources/PackageGraph/Resolution/PubGrub/Term.swift
Labels: no functional change, dependency resolution

#7725 Add missing nuget case to system package provider docs
  Sources/PackageDescription/PackageDescription.docc/Curation/SystemPackageProvider.md
Labels: documentation

#7726 Move PackageCollectionsProtocol to async/await
  Sources/PackageCollections/API.swift
  Sources/PackageCollections/PackageCollections.swift
  Sources/PackageCollections/PackageIndexAndCollections.swift
  Sources/PackageCollections/Storage/PackageCollectionsStorage.swift
  Sources/PackageCollectionsCommand/PackageCollectionsCommand.swift
  Sources/PackageMetadata/PackageMetadata.swift
Labels: concurrency, no functional change
