Repository swiftlang/swift-package-manager, pull requests merged in 2024-01, with the labels that each got.

#7211 Use `topologicalSort` with `Identifiable` on `ResolvedTarget`
  Sources/PackageGraph/GraphLoadingNode.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/SPMTestSupport/ResolvedTarget+Mock.swift
  Tests/PackageGraphPerformanceTests/PackageGraphPerfTests.swift
  Tests/PackageGraphTests/ResolvedTargetTests.swift
Labels: bug, performance, package graph

#7214 [NFC] Fix some of the new Swift `main` snapshots warnings
  Sources/Basics/Vendor/Triple.swift
  Sources/Commands/PackageTools/Init.swift
  Sources/Commands/Utilities/APIDigester.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageLoading/ManifestLoader.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/PackageRegistryTool/PackageRegistryTool+Publish.swift
  Sources/SPMBuildCore/XCFrameworkMetadata.swift
  Sources/SPMTestSupport/misc.swift
  Sources/SwiftSDKTool/Configuration/ShowConfiguration.swift
  Sources/Workspace/Diagnostics.swift
  Sources/Workspace/Workspace.swift
  Sources/swift-bootstrap/main.swift
  Tests/PackageGraphPerformanceTests/DependencyResolverPerfTests.swift
  Tests/PackageGraphTests/DependencyResolverTests.swift
  Tests/PackageGraphTests/PubgrubTests.swift
  Tests/PackageGraphTests/TopologicalSortTests.swift
Labels: no functional change

#6963 Verify product dependencies w/ target platform, vs. hardcoded `macOS`
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: bug, cross-compilation

#7208 Add `subsetDescriptor` to completion message
  IntegrationTests/Tests/IntegrationTests/BasicTests.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/FunctionalTests/PluginTests.swift
Labels: enhancement, swift build

#7203 Run build commands without declared outputs
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/PackageModel/ToolsVersion.swift
  Tests/FunctionalTests/PluginTests.swift
Labels: bug, plugins

#7227 [5.10] Pass `-disable-sandbox` to Swift compiler if requested
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
Labels: swift 5.10

#7187 Workaround in ZipArchiver when posix_spawn_file_actions_addchdir_np is unavailable
  Sources/Basics/Archiver/ZipArchiver.swift
Labels: bug, linux

#7231 Add `swift test --no-parallel`
  Sources/Commands/SwiftTestTool.swift
  Tests/CommandsTests/TestToolTests.swift
Labels: enhancement, swift test

#7235 Automatically enable swift-testing support when building swift-testing
  Sources/Commands/SwiftTestTool.swift
Labels: enhancement, swift test

#7230 Cache SwiftPM library deployment targets
  Sources/PackageModel/MinimumDeploymentTarget.swift
  Sources/PackageModel/ToolchainConfiguration.swift
Labels: performance

#7232 Include out-of-target resources
  Sources/PackageLoading/TargetSourcesBuilder.swift
  Tests/FunctionalTests/ResourcesTests.swift
Labels: bug

#7242 Verify that the pinned version is still available
  Sources/PackageGraph/PackageContainer.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubPackageContainer.swift
  Sources/Workspace/ResolverPrecomputationProvider.swift
  Tests/PackageGraphTests/PubgrubTests.swift
Labels: package graph

#7226 Vend generated files to plugins
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Package.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Plugins/MyPlugin/plugin.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Plugins/MyPlugin2/plugin.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Sources/MyClient/client.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Sources/MyExecutable/tool.swift
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Sources/MyExecutable2/tool.swift
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/SharedTargetBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/CMakeLists.txt
  Sources/PackagePlugin/PackageModel.swift
  Sources/PackagePlugin/Plugin.swift
  Sources/PackagePlugin/PluginContextDeserializer.swift
  Sources/PackagePlugin/PluginMessages.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: bug, plugins

#7247 Bump test timeout
  Tests/BasicsTests/URLSessionHTTPClientTests.swift
Labels: test suite

#7249 Revert "Start using `package` for some APIs"
  CMakeLists.txt
  Sources/Basics/CMakeLists.txt
  Sources/Basics/OSSignpost.swift
  Sources/SPMTestSupport/GitRepositoryExtensions.swift
  Sources/SPMTestSupport/MockArchiver.swift
Labels: bug, build system

#7254 Tests: Exercise output and diagnostic messages from command plugins
  Fixtures/Miscellaneous/Plugins/CommandPluginDiagnosticsStub/Package.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginDiagnosticsStub/Plugins/diagnostics_stub.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginDiagnosticsStub/Sources/main.swift
  Tests/CommandsTests/PackageToolTests.swift
Labels: plugins, test suite, no functional change

#7246 Add a CMake build for the `SourceKitLSPAPI` module
  Sources/CMakeLists.txt
  Sources/SourceKitLSPAPI/CMakeLists.txt
Labels: cmake

#7248 Fix `PackageGraph` traversal performance regressions
  CMakeLists.txt
  Sources/Basics/CMakeLists.txt
  Sources/Basics/Collections/ByteString+Extensions.swift
  Sources/Basics/Collections/Dictionary+Extensions.swift
  Sources/Basics/Collections/IdentifiableSet.swift
  Sources/Basics/Collections/String+Extensions.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Product.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Sources/Build/BuildPlan/BuildPlan+Clang.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Swift.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageTools/ArchiveSource.swift
  Sources/Commands/PackageTools/CompletionTool.swift
  Sources/Commands/PackageTools/Learn.swift
  Sources/Commands/PackageTools/PluginCommand.swift
  Sources/Commands/PackageTools/ShowDependencies.swift
  Sources/PackageGraph/PackageGraph+Loading.swift
  Sources/PackageGraph/PackageGraph.swift
  Sources/PackageGraph/Resolution/PlatformVersionProvider.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/PackageGraphTests/PackageGraphTests.swift
  Tests/PackageGraphTests/ResolvedTargetTests.swift
  Tests/SPMBuildCoreTests/PluginInvocationTests.swift
Labels: bug, performance, package graph

#7266 Lower `swift-tools-version` to 5.8 to prevent use of `package`
  Package.swift
Labels: bug

#7172 track SDK dependencies (rdar://115777026)
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Tests/BuildTests/IncrementalBuildTests.swift
Labels: bug, build system

#7272 Add `SSH_AUTH_SOCK` to `EnvironmentVariables.nonCachableKeys`
  Sources/Basics/EnvironmentVariables.swift
Labels: bug

#7260 Fix `./Utilities/soundness.sh` regressions
  Tests/BasicsTests/FileSystem/PathShimTests.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: no functional change

#7277 command plugin Xcode extension name fixed
  Sources/Workspace/InitPackage.swift
Labels: plugins

#7253 Exercise bootstrapping with the XCBuild codepath in `build-using-self`
  Utilities/bootstrap
  Utilities/build-using-self
Labels: test suite, build system

#7282 Fix warning for `CMakeLists.txt`
  Package.swift
Labels: cmake

#7281 Fix macro template
  Sources/Workspace/InitPackage.swift
Labels: needs tests, swift package init

#7280 command plugins: Build command plugin dependencies for the host, not the target
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Package.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Plugins/plugin-dependencies-stub/main.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Sources/placeholder/main.swift
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Sources/plugintool/main.swift
  Sources/Commands/PackageTools/PluginCommand.swift
  Tests/BuildTests/PluginsBuildPlanTests.swift
Labels: bug, plugins, cross-compilation

#7289 Add mermaid charts support to `swift package describe`
  Package.swift
  Sources/Commands/CMakeLists.txt
  Sources/Commands/PackageTools/Describe.swift
  Sources/Commands/Utilities/DOTManifestSerializer.swift
  Sources/Commands/Utilities/DescribedPackage.swift
  Sources/Commands/Utilities/MermaidPackageSerializer.swift
  Sources/Commands/Utilities/PlainTextEncoder.swift
  Tests/CommandsTests/MermaidPackageSerializerTests.swift
Labels: enhancement, package graph, package manifests

#7284 Derive dynamic libraries explicitly to avoid linker errors for "release" builds
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: build system, package graph

#7296 Fix swiftc selection for the case no swiftc found in Swift SDK
  Sources/PackageModel/UserToolchain.swift
  Tests/PackageModelTests/PackageModelTests.swift
Labels: bug, cross-compilation

#7256 command plugins: Add a 'progress' diagnostic message at default verbosity
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Plugins/diagnostics-stub/diagnostics_stub.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/PackagePlugin/Diagnostics.swift
  Sources/PackagePlugin/PluginMessages.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Tests/CommandsTests/PackageToolTests.swift
  Tests/FunctionalTests/PluginTests.swift
Labels: enhancement, plugins

#7297 Inherit host Swift SDK's toolset paths to fallback to host tools
  Sources/CoreCommands/SwiftTool.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: enhancement, cross-compilation

#7295 [5.10] Filter `codesign` messages
  Fixtures/Miscellaneous/DoNotFilterLinkerDiagnostics/Package.swift
  Fixtures/Miscellaneous/DoNotFilterLinkerDiagnostics/Sources/DoNotFilterLinkerDiagnostics/main.swift
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
Labels: bug, swift 5.10, build system, swift build

#7255 command plugins: Optionally print build logs during packageManager.build
  Fixtures/Miscellaneous/Plugins/CommandPluginTestStub/Plugins/diagnostics-stub/diagnostics_stub.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/PluginMessages.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Tests/CommandsTests/PackageToolTests.swift
Labels: plugins, logging

#7298 Clean up product dependency API
  Sources/PackageDescription/Target.swift
  Sources/PackageLoading/ManifestLoader+Validation.swift
Labels: bug, package manifests
