Repository swiftlang/swift-package-manager, pull requests merged in 2024-05, with the labels that each got.

#7519 Fix incorrect paths for library products with explicit linkage
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Sources/SPMTestSupport/MockPackageGraphs.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/PackageGraphTests/CrossCompilationPackageGraphTests.swift
Labels: bug, cross-compilation, build system, macros

#7527 Add `Sendable` annotations to SwiftVersion
  Sources/Basics/SwiftVersion.swift
Labels: concurrency, no functional change

#7526 [6.0] Remove the addition of external-plugin-path for dev toolchains
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/PackageModel/Toolchain.swift
  Sources/PackageModel/UserToolchain.swift
  Sources/SPMTestSupport/MockBuildTestHelper.swift
Labels: bug, swift 6.0, macros

#7532 `swift sdk`: print warnings on stderr instead of stdout
  Sources/swift-experimental-sdk/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Tests/CommandsTests/SDKCommandTests.swift
Labels: bug, cross-compilation, logging, command-line interface

#7481 Teach swift package add-target --type test about swift-testing
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/PackageModel/InstalledSwiftPMConfiguration.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Utilities/config.json
Labels: enhancement, command-line interface

#7537 [6.0] Teach swift package add-target --type test about swift-testing (#7481)
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/PackageModel/InstalledSwiftPMConfiguration.swift
  Sources/PackageModelSyntax/AddTarget.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Utilities/config.json
Labels: enhancement, swift test, command-line interface, swift 6.0

#7534 Pass through swift-testing's experimental JSON streams from `swift test`
  Sources/Commands/SwiftTestCommand.swift
Labels: needs tests, swift test, command-line interface

#7530 [Package/ModuleGraph] Allow cyclic package dependencies if they don't introduce a cycle in a build graph
  CHANGELOG.md
  Sources/Basics/CMakeLists.txt
  Sources/Basics/Graph/GraphAlgorithms.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/Commands/Utilities/DependenciesSerializer.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMTestSupport/PackageGraphTester.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace+Signing.swift
  Sources/Workspace/Workspace.swift
  Tests/CommandsTests/MermaidPackageSerializerTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: add to change log, enhancement, package graph

#7533 [6.0] `swift sdk`: print warnings on stderr instead of stdout
  Sources/swift-experimental-sdk/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Tests/CommandsTests/SDKCommandTests.swift
Labels: bug, cross-compilation, command-line interface, swift 6.0

#7538 [6.0] Align `swift sdk` configuration subcommand with proposal text
  CHANGELOG.md
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.tar.gz
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.zip
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundle.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKConfigurationStore.swift
  Sources/SwiftSDKCommand/CMakeLists.txt
  Sources/SwiftSDKCommand/Configuration/ConfigurationSubcommand.swift
  Sources/SwiftSDKCommand/Configuration/DeprecatedSwiftSDKConfigurationCommand.swift
  Sources/SwiftSDKCommand/ConfigureSwiftSDK.swift
  Sources/SwiftSDKCommand/InstallSwiftSDK.swift
  Sources/SwiftSDKCommand/ListSwiftSDKs.swift
  Sources/SwiftSDKCommand/RemoveSwiftSDK.swift
  Sources/SwiftSDKCommand/SwiftSDKCommand.swift
  Sources/SwiftSDKCommand/SwiftSDKSubcommand.swift
  Sources/swift-experimental-sdk/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Tests/CommandsTests/SwiftSDKCommandTests.swift
Labels: cross-compilation, command-line interface, swift 6.0

#7535 Align `swift sdk` configuration subcommand with proposal text
  CHANGELOG.md
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.tar.gz
  Fixtures/SwiftSDKs/test-sdk.artifactbundle.zip
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundle.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKConfigurationStore.swift
  Sources/SwiftSDKCommand/CMakeLists.txt
  Sources/SwiftSDKCommand/Configuration/ConfigurationSubcommand.swift
  Sources/SwiftSDKCommand/Configuration/DeprecatedSwiftSDKConfigurationCommand.swift
  Sources/SwiftSDKCommand/ConfigureSwiftSDK.swift
  Sources/SwiftSDKCommand/InstallSwiftSDK.swift
  Sources/SwiftSDKCommand/ListSwiftSDKs.swift
  Sources/SwiftSDKCommand/RemoveSwiftSDK.swift
  Sources/SwiftSDKCommand/SwiftSDKCommand.swift
  Sources/SwiftSDKCommand/SwiftSDKSubcommand.swift
  Sources/swift-experimental-sdk/Entrypoint.swift
  Sources/swift-package-manager/SwiftPM.swift
  Tests/CommandsTests/SDKCommandTests.swift
  Tests/CommandsTests/SwiftSDKCommandTests.swift
Labels: add to change log, cross-compilation, command-line interface

#7543 [6.0] Mark `buildSettingsDescription` as `@_spi` in `Target.swift`
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/PackageModel/Target/Target.swift
Labels: no functional change, public API, swift 6.0

#7542 Mark `buildSettingsDescription` as `@_spi` in `Target.swift`
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/PackageModel/Target/Target.swift
Labels: no functional change, public API

#7540 Add API for background preparation in SourceKit-LSP
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
Labels: enhancement, public API

#7469 Update -swift-version to default to 6 for swift-tools-version 6
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Package.swift
  Fixtures/Miscellaneous/Plugins/MyBuildToolPluginDependencies/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPlugin/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginUsingURLBasedAPI/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/PluginWithInternalExecutable/Sources/PluginExecutable/main.swift
  IntegrationTests/Tests/IntegrationTests/BasicTests.swift
  IntegrationTests/Tests/IntegrationTests/SwiftPMTests.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageModel/ToolsVersion.swift
  Sources/SPMTestSupport/XCTSkipHelpers.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/FunctionalTests/ResourcesTests.swift
  Tests/PackageLoadingTests/ManifestLoaderCacheTests.swift
  Tests/PackageLoadingTests/PD_6_0_LoadingTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
  Tests/PackageModelTests/ToolsVersionTests.swift
  Tests/WorkspaceTests/InitTests.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: test suite, build system, dependencies

#7551 Pass through `--experimental-event-stream-version` to swift-testing.
  Sources/Commands/SwiftTestCommand.swift
Labels: enhancement, needs tests, swift test, command-line interface

#7558 Don’t disable Swift 6 mode in swift-syntax
  Utilities/bootstrap
  Utilities/build-using-self
Labels: swift 6.0

#7561 package -> @_spi public due to package exportability rule updates
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
Labels: swift 6.0

#7562 Add API needed for background indexing in SourceKit-LSP
  Sources/PackageGraph/ModulesGraph.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
Labels: swift 6.0

#7564 [6.0] Pass through experimental swift-testing flags
  Sources/Commands/SwiftTestCommand.swift
Labels: enhancement, swift test, command-line interface, swift 6.0

#7565 [6.0] Add `--enable-code-coverage` to `swift build`
  Sources/Commands/SwiftBuildCommand.swift
  Tests/CommandsTests/BuildCommandTests.swift
Labels: enhancement, swift build, command-line interface, swift 6.0

#7566 Generated code for XCTest on non-Darwin needs to be actor-isolated.
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, concurrency, swift test

#7559 Add two Sendable annotations to enable building SourceKit-LSP in Swift 6 mode
  Sources/PackageLoading/Platform.swift
  Sources/PackageLoading/TargetSourcesBuilder.swift
Labels: swift 6.0

#7569 [6.0] Generated code for XCTest on non-Darwin needs to be actor-isolated.
  Sources/Build/BuildOperationBuildSystemDelegateHandler.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, concurrency, swift test, swift 6.0

#7567 [6.0][SE-0435] Implement per target swift version selection
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/PackageDescription/BuildSettings.swift
  Sources/PackageDescription/LanguageStandardSettings.swift
  Sources/PackageDescription/PackageDescriptionSerialization.swift
  Sources/PackageDescription/PackageDescriptionSerializationConversion.swift
  Sources/PackageLoading/ManifestJSONParser.swift
  Sources/PackageLoading/PackageBuilder.swift
  Sources/PackageModel/BuildSettings.swift
  Sources/PackageModel/Manifest/TargetBuildSettingDescription.swift
  Sources/PackageModel/ManifestSourceGeneration.swift
  Sources/PackageModel/SwiftLanguageVersion.swift
  Sources/PackageModel/Target/SwiftTarget.swift
  Sources/SPMTestSupport/ResolvedTarget+Mock.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: swift 6.0

#7571 [6.0] NFC: Rename `ResolvedTarget` to `ResolvedModule`
  Sources/Build/BuildDescription/ClangTargetBuildDescription.swift
  Sources/Build/BuildDescription/PluginDescription.swift
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/Build/BuildDescription/TargetBuildDescription.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Swift.swift
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/Build/BuildPlan/BuildPlan+Product.swift
  Sources/Build/BuildPlan/BuildPlan+Test.swift
  Sources/Build/BuildPlan/BuildPlan.swift
  Sources/Commands/PackageCommands/DumpCommands.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageGraph/Resolution/PlatformVersionProvider.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/PackageGraph/Resolution/ResolvedProduct.swift
  Sources/PackageGraph/Resolution/ResolvedTarget.swift
  Sources/SPMBuildCore/BuildSystem/BuildSystem.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/SPMBuildCore/ResolvedPackage+Extensions.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
  Sources/XCBuildSupport/PIFBuilder.swift
Labels: swift 6.0

#7573 Set an environment variable in `swift test` to indicate which testing library is in use.
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Package.swift
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Tests/CheckTestLibraryEnvironmentVariableTests/CheckTestLibraryEnvironmentVariableTests.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, swift test

#7577 [6.0] Set an environment variable in `swift test` to indicate which testing library is in use.
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Package.swift
  Fixtures/Miscellaneous/CheckTestLibraryEnvironmentVariable/Tests/CheckTestLibraryEnvironmentVariableTests/CheckTestLibraryEnvironmentVariableTests.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/TestingSupport.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: bug, swift test, swift 6.0

#7575 [6.0] Update diagnostics for duplicated product/target names
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageLoading/PackageBuilder.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/ModuleAliasingBuildTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: swift 6.0

#7578 [6.0] Various low-risk cherry-picks
  .swiftformat
  Package.swift
  Sources/Basics/Archiver/Archiver.swift
  Sources/Basics/Archiver/TarArchiver.swift
  Sources/Basics/Archiver/UniversalArchiver.swift
  Sources/Basics/Archiver/ZipArchiver.swift
  Sources/Basics/AuthorizationProvider.swift
  Sources/Basics/Cancellator.swift
  Sources/Basics/Concurrency/ConcurrencyHelpers.swift
  Sources/Basics/Concurrency/TokenBucket.swift
  Sources/Basics/FileSystem/FileSystem+Extensions.swift
  Sources/Basics/FileSystem/TemporaryFile.swift
  Sources/Basics/HTTPClient/LegacyHTTPClient.swift
  Sources/Basics/HTTPClient/URLSessionHTTPClient.swift
  Sources/Basics/Observability.swift
  Sources/Basics/Sandbox.swift
  Sources/Basics/SwiftVersion.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageModelSyntax/AddTargetDependency.swift
  Sources/PackageModelSyntax/CMakeLists.txt
  Sources/PackageModelSyntax/ManifestEditError.swift
  Sources/PackageRegistry/RegistryClient.swift
  Sources/PackageRegistry/RegistryDownloadsManager.swift
  Sources/PackageRegistry/SignatureValidation.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Auth.swift
  Sources/Workspace/Workspace+State.swift
  Sources/XCBuildSupport/PIF.swift
  Sources/XCBuildSupport/PIFBuilder.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/PackageModelSyntaxTests/ManifestEditTests.swift
  Tests/PackageModelTests/MinimumDeploymentTargetTests.swift
  Tests/XCBuildSupportTests/PIFBuilderTests.swift
Labels: swift 6.0

#7531 [6.0] Update -swift-version to default to 6 for swift-tools-version 6
  Fixtures/Miscellaneous/Plugins/DependentPlugins/Package.swift
  Fixtures/Miscellaneous/Plugins/MyBuildToolPluginDependencies/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPlugin/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/MySourceGenPluginUsingURLBasedAPI/Sources/MySourceGenBuildTool/main.swift
  Fixtures/Miscellaneous/Plugins/PluginWithInternalExecutable/Sources/PluginExecutable/main.swift
  IntegrationTests/Tests/IntegrationTests/BasicTests.swift
  IntegrationTests/Tests/IntegrationTests/SwiftPMTests.swift
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageModel/ToolsVersion.swift
  Sources/SPMTestSupport/XCTSkipHelpers.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/FunctionalTests/ResourcesTests.swift
  Tests/PackageLoadingTests/ManifestLoaderCacheTests.swift
  Tests/PackageLoadingTests/PD_6_0_LoadingTests.swift
  Tests/PackageLoadingTests/PackageBuilderTests.swift
  Tests/PackageModelTests/ToolsVersionTests.swift
  Tests/WorkspaceTests/InitTests.swift
  Tests/WorkspaceTests/ManifestSourceGenerationTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: swift 6.0

#7579 [PackageGraph] Allow package-level cyclic dependency only for >= 6.0 …
  CHANGELOG.md
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: add to change log, enhancement, package graph

#7600 Rename back to `swift package completion-tool`
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, command-line interface

#7563 Add Sendable to FileRuleDescription
  Sources/PackageLoading/TargetSourcesBuilder.swift
Labels: concurrency, no functional change

#7602 [6.0] Rename back to `swift package completion-tool`
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: bug, command-line interface, swift 6.0

#7471 Place build.db under the scratch directory
  Sources/Build/BuildManifest/LLBuildManifestBuilder.swift
  Sources/Build/BuildOperation.swift
  Sources/CoreCommands/BuildSystemSupport.swift
  Sources/swift-bootstrap/main.swift
  Tests/BuildTests/BuildOperationTests.swift
  Tests/BuildTests/BuildPlanTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
Labels: enhancement, build system

#7263 [main] Enable `-user-module-version` for 6.0
  Sources/Build/BuildDescription/SwiftTargetBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: bug, build system, package manifests

#7607 Add support for swift-collections 1.1
  Package.swift
  Sources/PackageGraph/Resolution/PubGrub/PubGrubDependencyResolver.swift
Labels: dependencies, package graph, dependency resolution

#7541 [6.0][Package/ModuleGraph] Allow cyclic package dependencies if they don't introduce a cycle in a build graph
  CHANGELOG.md
  Sources/Basics/CMakeLists.txt
  Sources/Basics/Graph/GraphAlgorithms.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/Commands/Utilities/DependenciesSerializer.swift
  Sources/PackageGraph/ModulesGraph+Loading.swift
  Sources/PackageGraph/ModulesGraph.swift
  Sources/PackageGraph/Resolution/ResolvedPackage.swift
  Sources/SPMBuildCore/Plugins/PluginContextSerializer.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
  Sources/Workspace/Workspace+Manifests.swift
  Sources/Workspace/Workspace+Signing.swift
  Sources/Workspace/Workspace.swift
  Tests/CommandsTests/MermaidPackageSerializerTests.swift
  Tests/CommandsTests/PackageCommandTests.swift
  Tests/FunctionalTests/PluginTests.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: package graph, swift 6.0
