Repository swiftlang/swift-package-manager, pull requests merged in 2025-04, with the labels that each got.

#8423 Fix typo, refine wording in `Usage.md`
  Documentation/Usage.md
Labels: documentation

#8453 Tests: Enabled SourceControlTests on Windows
  Tests/SourceControlTests/GitRepositoryTests.swift
  Tests/SourceControlTests/RepositoryManagerTests.swift
Labels: windows, test suite

#8462 Clarify documented behavior of versioned manifest files in usage docs
  Documentation/Usage.md
Labels: documentation, package manifests

#8463 Tests: Enable some WorkspaceTests on Windows
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: windows, test suite

#8466 Tests: Enable tests on Windows
  Tests/BasicsTests/AsyncProcessTests.swift
  Tests/BasicsTests/Environment/EnvironmentTests.swift
  Tests/BuildTests/BuildSystemDelegateTests.swift
  Tests/BuildTests/LLBuildManifestBuilderTests.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
  Tests/WorkspaceTests/PrebuiltsTests.swift
Labels: windows, test suite

#8467 Copy helpers internally
  Sources/_InternalTestSupport/Process.swift
  Sources/_InternalTestSupport/SkippedTestSupport.swift
Labels: test suite

#8483 Fix `SwiftBuildSupport/README.md`
  Sources/SwiftBuildSupport/README.md
Labels: documentation

#8496 Tests: Split SerializedJSONTests
  Tests/BasicsTests/Serialization/SerializedJSONTests.swift
Labels: windows, test suite

#8506 Test: Enable ConcurrencyHelpersTests on Windows
  Tests/BasicsTests/ConcurrencyHelpersTests.swift
Labels: windows, test suite

#8492 Add `swift test --attachments-path`.
  Sources/Commands/SwiftTestCommand.swift
Labels: swift test, command-line interface

#8515 Add support for testable executables on Windows
  Sources/Build/BuildPlan/BuildPlan.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: windows

#8513 Prevent non-targets from depending on test targets
  Sources/PackageLoading/ManifestLoader+Validation.swift
  Sources/PackageLoading/PackageBuilder.swift
  Tests/PackageGraphTests/ModulesGraphTests.swift
Labels: add to change log

#8487 Adds DocC catalog to host SwiftPM documentation
  Package.swift
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageManager.md
  Sources/PackageManagerDocs/EmptyFile.swift
Labels: documentation

#8457 Tests: Enable more WorkspaceTests on Windows
  Sources/_InternalTestSupport/MockWorkspace.swift
  Sources/_InternalTestSupport/XCTAssertHelpers.swift
  Sources/_InternalTestSupport/misc.swift
  Tests/BasicsTests/FileSystem/InMemoryFilesSystemTests.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: windows, test suite

#8573 Some PIF delegate fixes for Swift Build
  Sources/SwiftBuildSupport/PIFBuilder.swift
  Sources/SwiftBuildSupport/PackagePIFBuilder.swift
  Sources/SwiftBuildSupport/PackagePIFProjectBuilder+Products.swift
Labels: swift build

#8572 stubs for initial DocC structure
  Sources/PackageManagerDocs/Documentation.docc/Assets/command-icon.svg
  Sources/PackageManagerDocs/Documentation.docc/Assets/command-icon~dark.svg
  Sources/PackageManagerDocs/Documentation.docc/GettingStarted.md
  Sources/PackageManagerDocs/Documentation.docc/IntroducingPackages.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddDependency.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddProduct.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddTarget.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddTargetDependency.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageArchiveSource.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageClean.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageCompletionTool.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageComputeChecksum.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigGetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigSetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigUnsetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDescribe.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDiagnoseAPIBreakingChange.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDumpPackage.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDumpSymbolGraph.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageEdit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageInit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackagePlugin.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackagePurgeCache.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageReset.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageResolve.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageShowDependencies.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageShowExecutables.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageToolsVersion.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageUnedit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageUpdate.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionAdd.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionDescribe.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionList.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionRefresh.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionRemove.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionSearch.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryLogin.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryLogout.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryPublish.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistrySet.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryUnset.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigurationReset.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigurationSet.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigurationShow.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigure.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKInstall.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKList.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKRemove.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftBuild.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageCollectionCommands.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageCommands.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageManager.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageRegistryCommands.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftRepl.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftRun.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftSDKCommands.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftTest.md
  Sources/PackageManagerDocs/EmptyFile.swift
Labels: documentation
