Repository swiftlang/swift-package-manager, pull requests merged in 2025-07, with the labels that each got.

#8894 Add %p to LLVM_PROFILE_FILE pattern when running tests with coverage
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/_InternalTestSupport/SwiftTesting+TraitConditional.swift
  Tests/IntegrationTests/SwiftPMTests.swift
Labels: needs tests

#8856 Allow omitting the target triple for `swift sdk configure`
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigure.md
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKConfigurationStore.swift
  Sources/SwiftSDKCommand/ConfigureSwiftSDK.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: cross-compilation, needs documentation, command-line interface

#8944 Accept arbitrary strings in Swift Testing event stream version options
  Sources/Commands/SwiftTestCommand.swift
Labels: enhancement, swift test

#8902 Docs/interoperability mode
  Sources/PackageDescription/BuildSettings.swift
  Sources/PackageDescription/PackageDescription.docc/Curation/SwiftSetting.md
  Sources/PackageDescription/Resource.swift
  Sources/PackageDescription/Target.swift
Labels: documentation

#8957 SwiftBuildSupport: Revert patch required when we were using '#if canImport(SwiftBuild)' checks
  Sources/SwiftBuildSupport/BuildSystem.swift
  Sources/SwiftBuildSupport/PackagePIFBuilder+Helpers.swift
  Sources/SwiftBuildSupport/PackagePIFProjectBuilder+Modules.swift
Labels: swift build
