Repository swiftlang/swift-package-manager, pull requests merged in 2025-01, with the labels that each got.

#8188 Fix registry resolution of major alternate package manifests
  Sources/Workspace/PackageContainer/RegistryPackageContainer.swift
  Tests/WorkspaceTests/RegistryPackageContainerTests.swift
Labels: bug, package manifests, registry, dependency resolution

#8166 Fix resolve failing when package from registry is referenced by name
  Sources/Workspace/Workspace+Registry.swift
  Tests/WorkspaceTests/WorkspaceTests.swift
Labels: bug, package manifests, registry

#8199 Include the path to the platform's PrivateFrameworks directory in DYLD_FRAMEWORK_PATH when launching test runners
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
Labels: bug, swift test

#8204 [6.1] Include the path to the platform's PrivateFrameworks directory in DYLD_FRAMEWORK_PATH when launching test runners
  Sources/Commands/Utilities/TestingSupport.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
Labels: bug, swift test

#8203 Retrieve resolved package versions in parallel
  Sources/Workspace/Workspace+Dependencies.swift
Labels: enhancement, concurrency, performance, registry

#8056 Binary dependencies of C++ module break build planning
  Sources/Build/BuildManifest/LLBuildManifestBuilder+Clang.swift
Labels: needs tests

#8240 SourceKitLSPAPI: export library as an interface
  Sources/SourceKitLSPAPI/CMakeLists.txt
Labels: cmake

#8252 Apply toolset's `debugger` property in `swift run`
  Fixtures/Miscellaneous/EchoExecutable/echo.sh
  Fixtures/Miscellaneous/EchoExecutable/toolset.json
  Sources/Commands/SwiftRunCommand.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Tests/CommandsTests/RunCommandTests.swift
Labels: cross-compilation, swift run

#8254 Apply toolset's `testRunner` property in `swift test`
  Fixtures/Miscellaneous/EchoExecutable/Package.swift
  Fixtures/Miscellaneous/EchoExecutable/Tests/TestSuite/Tests.swift
  Fixtures/Miscellaneous/EchoExecutable/echo.sh
  Fixtures/Miscellaneous/EchoExecutable/toolset.json
  Sources/Commands/SwiftTestCommand.swift
  Sources/SPMBuildCore/BuildParameters/BuildParameters.swift
  Tests/BuildTests/CrossCompilationBuildPlanTests.swift
  Tests/CommandsTests/RunCommandTests.swift
  Tests/CommandsTests/TestCommandTests.swift
Labels: cross-compilation, swift test

#8259 NFC: Fix comment typo in `TestCommandTests.swift`
  Tests/CommandsTests/TestCommandTests.swift
Labels: test suite, no functional change
