Repository swiftlang/swift-package-manager, pull requests merged in 2025-05, with the labels that each got.

#8450 Tests: Enable BasicsTests/FileSystem/* Tests on Windows (Swift Testing)
  Tests/BasicsTests/FileSystem/FileSystemTests.swift
  Tests/BasicsTests/FileSystem/InMemoryFilesSystemTests.swift
  Tests/BasicsTests/FileSystem/PathShimTests.swift
  Tests/BasicsTests/FileSystem/PathTests.swift
  Tests/BasicsTests/FileSystem/TemporaryFileTests.swift
  Tests/BasicsTests/FileSystem/VFSTests.swift
Labels: windows, test suite

#8100 Test: Convert more tests to Swift Testing
  Sources/_InternalTestSupport/misc.swift
  Tests/PackageSigningTests/FilePackageSigningEntityStorageTests.swift
  Tests/PackageSigningTests/SigningEntityTests.swift
  Tests/PackageSigningTests/SigningIdentityTests.swift
  Tests/PackageSigningTests/SigningTests.swift
  Tests/QueryEngineTests/QueryEngineTests.swift
  Tests/SourceControlTests/GitRepositoryProviderTests.swift
  Tests/SourceControlTests/InMemoryGitRepositoryTests.swift
Labels: test suite

#8092 Tests: Convert some WorkspaceTests module tests to Swift Testing
  Tests/WorkspaceTests/AuthorizationProviderTests.swift
  Tests/WorkspaceTests/MirrorsConfigurationTests.swift
  Tests/WorkspaceTests/ToolsVersionSpecificationGenerationTests.swift
  Tests/WorkspaceTests/ToolsVersionSpecificationRewriterTests.swift
  Tests/WorkspaceTests/WorkspaceStateTests.swift
Labels: test suite

#8625 Tests: Convert SPMBuildCoreTests to Swift Testing
  Tests/SPMBuildCoreTests/ArtifactsArchiveMetadataTests.swift
  Tests/SPMBuildCoreTests/BuildParametersTests.swift
  Tests/SPMBuildCoreTests/XCFrameworkMetadataTests.swift
  Tests/_InternalTestSupportTests/Misc.swift
Labels: test suite

#8566 normalize abstracts and help content for swift commands
  Sources/Commands/PackageCommands/APIDiff.swift
  Sources/Commands/PackageCommands/AddDependency.swift
  Sources/Commands/PackageCommands/AddProduct.swift
  Sources/Commands/PackageCommands/AddSetting.swift
  Sources/Commands/PackageCommands/AddTarget.swift
  Sources/Commands/PackageCommands/AddTargetDependency.swift
  Sources/Commands/PackageCommands/ArchiveSource.swift
  Sources/Commands/PackageCommands/CompletionCommand.swift
  Sources/Commands/PackageCommands/ComputeChecksum.swift
  Sources/Commands/PackageCommands/Config.swift
  Sources/Commands/PackageCommands/Describe.swift
  Sources/Commands/PackageCommands/DumpCommands.swift
  Sources/Commands/PackageCommands/EditCommands.swift
  Sources/Commands/PackageCommands/Format.swift
  Sources/Commands/PackageCommands/Init.swift
  Sources/Commands/PackageCommands/Install.swift
  Sources/Commands/PackageCommands/Learn.swift
  Sources/Commands/PackageCommands/PluginCommand.swift
  Sources/Commands/PackageCommands/ResetCommands.swift
  Sources/Commands/PackageCommands/Resolve.swift
  Sources/Commands/PackageCommands/ShowDependencies.swift
  Sources/Commands/PackageCommands/SwiftPackageCommand.swift
  Sources/Commands/PackageCommands/ToolsVersionCommand.swift
  Sources/Commands/PackageCommands/Update.swift
  Sources/Commands/SwiftBuildCommand.swift
  Sources/Commands/SwiftRunCommand.swift
  Sources/Commands/SwiftTestCommand.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageCollectionsCommand/PackageCollectionsCommand.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Auth.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand+Publish.swift
  Sources/PackageRegistryCommand/PackageRegistryCommand.swift
  Sources/swift-bootstrap/main.swift
  Sources/swift-build-prebuilts/BuildPrebuilts.swift
  Tests/CommandsTests/PackageCommandTests.swift
Labels: documentation

#8624 Tests: Convert Environment/Graph and other suites to ST
  Sources/_InternalTestSupport/Observability.swift
  Tests/BasicsTests/Environment/EnvironmentKeyTests.swift
  Tests/BasicsTests/Environment/EnvironmentTests.swift
  Tests/BasicsTests/Graph/AdjacencyMatrixTests.swift
  Tests/BasicsTests/Graph/DirectedGraphTests.swift
  Tests/BasicsTests/Graph/UndirectedGraphTests.swift
  Tests/BasicsTests/ObservabilitySystemTests.swift
  Tests/BasicsTests/ProgressAnimationTests.swift
  Tests/BasicsTests/StringExtensionsTests.swift
Labels: test suite

#8638 Support Swift SDKs w/ many metadata files in same directory
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
Labels: enhancement, cross-compilation

#8358 Do not try to add rpath arguments on noneOS
  Sources/Build/BuildDescription/ProductBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: embedded

#8654 Use mergeable symbols in embedded
  Sources/Build/BuildDescription/SwiftModuleBuildDescription.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: embedded

#8634 Clarify release branch cherry-picks process in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#8666 clean up misformatting for CLI command options
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddDependency.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddProduct.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddSetting.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddTarget.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageAddTargetDependency.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageArchiveSource.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageClean.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageCompletionTool.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageComputeChecksum.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigGetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigSetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageConfigUnsetMirror.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDescribe.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDiagnoseAPIBreakingChange.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDumpPackage.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageDumpSymbolGraph.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageEdit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageExperimentalInstall.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageExperimentalUninstall.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageInit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageMigrate.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackagePlugin.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackagePurgeCache.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageReset.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageResolve.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageShowDependencies.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageShowExecutables.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageToolsVersion.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageUnedit.md
  Sources/PackageManagerDocs/Documentation.docc/Package/PackageUpdate.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionAdd.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionDescribe.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionList.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionRefresh.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionRemove.md
  Sources/PackageManagerDocs/Documentation.docc/PackageCollections/PackageCollectionSearch.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryLogin.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryLogout.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryPublish.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistrySet.md
  Sources/PackageManagerDocs/Documentation.docc/PackageRegistry/PackageRegistryUnset.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigurationSet.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigurationShow.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKConfigure.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKInstall.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKList.md
  Sources/PackageManagerDocs/Documentation.docc/SDK/SDKRemove.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftBuild.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftPackageManager.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftRun.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftTest.md
Labels: documentation

#8669 Fix typos in package registry documentation
  Documentation/PackageRegistry/PackageRegistryUsage.md
  Documentation/PackageRegistry/Registry.md
Labels: documentation

#8670 Include search path for Swift Testing's macro plugin from toolchain if present
  Sources/PackageModel/UserToolchain.swift
  Tests/BuildTests/BuildPlanTests.swift
Labels: enhancement, build system, swift test, macros

#8678 Add target name to PIF graphviz output
  Sources/SwiftBuildSupport/DotPIFSerializer.swift
Labels: swift build

#8621 Migrate README
  Documentation/Design/PackageManagerCommunityProposal.md
  Sources/PackageManagerDocs/Documentation.docc/Documentation.md
  Sources/PackageManagerDocs/Documentation.docc/ExploreDependencies.md
  Sources/PackageManagerDocs/Documentation.docc/IntroducingPackages.md
  Sources/PackageManagerDocs/Documentation.docc/SwiftSDKCommands.md
Labels: documentation

#8692 6.2: Use WasmKit by default for Wasm triples in toolsets
  Sources/CoreCommands/SwiftCommandState.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDK.swift
  Sources/PackageModel/SwiftSDKs/SwiftSDKBundleStore.swift
  Sources/PackageModel/Toolset.swift
  Sources/SwiftSDKCommand/Configuration/ConfigurationSubcommand.swift
  Sources/SwiftSDKCommand/ConfigureSwiftSDK.swift
  Sources/SwiftSDKCommand/InstallSwiftSDK.swift
  Sources/SwiftSDKCommand/ListSwiftSDKs.swift
  Sources/SwiftSDKCommand/RemoveSwiftSDK.swift
  Sources/SwiftSDKCommand/SwiftSDKSubcommand.swift
  Tests/PackageModelTests/SwiftSDKBundleTests.swift
  Tests/PackageModelTests/SwiftSDKTests.swift
  Tests/PackageModelTests/ToolsetTests.swift
Labels: enhancement, cross-compilation, swift 6.2

#8698 Improve output formatting with Swift Build backend
  Sources/SwiftBuildSupport/SwiftBuildSystem.swift
Labels: build system

#8697 Swift Build: pass some additional settings needed for cross-compilation
  Sources/SwiftBuildSupport/SwiftBuildSystem.swift
Labels: cross-compilation, build system, WebAssembly, Android

#8675 Migrate PackageDescription.md reference
  Sources/PackageManagerDocs/Documentation.docc/Documentation.md
  Sources/PackageManagerDocs/Documentation.docc/PackageDescription.md
Labels: documentation

#8696 Pass the correct toolchain path to SwiftBuild
  Sources/PackageModel/Toolchain.swift
  Sources/SwiftBuildSupport/SwiftBuildSystem.swift
Labels: build system

#8709 Partial migration of Usage.md - topics related to dependencies and C language modules
  Sources/PackageManagerDocs/Documentation.docc/AddingDependencies.md
  Sources/PackageManagerDocs/Documentation.docc/CreatingCLanguageTargets.md
  Sources/PackageManagerDocs/Documentation.docc/Dependencies/AddingSystemLibraryDependency.md
  Sources/PackageManagerDocs/Documentation.docc/Dependencies/ExampleSystemLibraryPkgConfig.md
  Sources/PackageManagerDocs/Documentation.docc/Dependencies/ResolvingDependencyFailures.md
  Sources/PackageManagerDocs/Documentation.docc/Documentation.md
  Sources/PackageManagerDocs/Documentation.docc/IntroducingPackages.md
  Sources/PackageManagerDocs/Documentation.docc/ResolvingPackageVersions.md
Labels: documentation

#8726 Port contents of `Documentation/PackageSecurity.md` to DocC
  Sources/PackageManagerDocs/Documentation.docc/Documentation.md
  Sources/PackageManagerDocs/Documentation.docc/PackageSecurity.md
Labels: documentation
