Repository swiftlang/swift-package-manager, pull requests merged in 2025-02, with the labels that each got.

#8250 Fix: preserve symlinks in ZipArchive compress function
  Sources/Basics/Archiver/ZipArchiver.swift
  Tests/BasicsTests/Archiver/ZipArchiverTests.swift
Labels: bug, test suite, registry

#8261 Add `package` access level to access level enums
  Sources/Commands/Utilities/PluginDelegate.swift
  Sources/Commands/Utilities/SymbolGraphExtract.swift
  Sources/PackagePlugin/PackageManagerProxy.swift
  Sources/PackagePlugin/PluginMessages.swift
  Sources/SPMBuildCore/Plugins/PluginInvocation.swift
Labels: needs tests

#8288 pipeline: Convert build-using-self to python
  Utilities/README.md
  Utilities/build-using-self
  Utilities/helpers.py
Labels: continuous integration/deployment

#8286 Add a new `BuildDescription.load` API for use in SourceKit-LSP
  Package.swift
  Sources/Build/BuildOperation.swift
  Sources/CoreCommands/Options.swift
  Sources/PackageGraph/TraitConfiguration.swift
  Sources/SourceKitLSPAPI/BuildDescription.swift
  Sources/SourceKitLSPAPI/CMakeLists.txt
  Sources/SourceKitLSPAPI/PluginTargetBuildDescription.swift
  Tests/SourceKitLSPAPITests/SourceKitLSPAPITests.swift
Labels: needs tests
